@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.visually-hidden {
  height: 1px;
  width: 1px;
  margin: -1rem;
  padding: 0;
  position: absolute;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }
  .visually-hidden.focusable:active, .visually-hidden.focusable:focus {
    height: auto;
    width: auto;
    margin: 0;
    clip: auto;
    overflow: visible;
    position: static; }

.bulleted ~ ul {
  margin-bottom: 0; }
.bulleted > li {
  list-style: outside disc;
  margin-left: 1.25em;
  border-bottom: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ul, li, fieldset, form, label, legend, table, caption, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  vertical-align: baseline; }

/* ==========================
    Base
   ========================== */
:root {
  background-color: #455A64;
  box-sizing: border-box;
  color: #212121;
  cursor: default;
  font: 10px/1.5 "Merriweather", serif; }

html {
  overflow: auto;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  overflow-x: hidden; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  background-image: url("/images/banner.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain; }
  @media screen and (max-width: 750px) {
    body {
      background-size: initial; } }

body,
button,
input,
select,
textarea {
  font-size: 1.6rem;
  line-height: 1.618; }

[hidden], template {
  display: none; }

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  vertical-align: middle;
  max-width: 100%; }

/* ==========================
    Headings
    ========================== */
h1,
.h1 {
  font-size: 3.2rem;
  margin-top: .5em;
  margin-bottom: .5em;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.618;
  text-transform: uppercase; }
  @media screen and (max-width: 1025px) {
    h1,
    .h1 {
      font-size: 2.8rem; } }
  @media screen and (max-width: 750px) {
    h1,
    .h1 {
      font-size: 2.4rem; } }

h2,
.h2 {
  font-size: 2.8rem;
  margin-top: .5em;
  margin-bottom: .5em;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.618;
  text-transform: uppercase; }
  @media screen and (max-width: 1025px) {
    h2,
    .h2 {
      font-size: 2.45rem; } }
  @media screen and (max-width: 750px) {
    h2,
    .h2 {
      font-size: 2.1rem; } }

h3,
.h3 {
  font-size: 2.4rem;
  margin-top: .5em;
  margin-bottom: .5em;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.618;
  text-transform: uppercase; }
  @media screen and (max-width: 1025px) {
    h3,
    .h3 {
      font-size: 2.1rem; } }
  @media screen and (max-width: 750px) {
    h3,
    .h3 {
      font-size: 1.8rem; } }

h4,
.h4 {
  font-size: 2.1rem;
  margin-top: .5em;
  margin-bottom: .5em;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  line-height: 1.618;
  text-transform: uppercase; }

h5,
.h5 {
  font-size: 1.8rem;
  margin-top: .5em;
  margin-bottom: .5em;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.618;
  text-transform: uppercase; }

h6,
.h6 {
  font-size: 1.6rem;
  margin-top: .5em;
  margin-bottom: .5em;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  line-height: 1.618;
  text-transform: uppercase; }

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  display: inline-block; }

h1,
.h1 {
  font-size: 3.2rem;
  margin: 0 0 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #455A64;
  color: #00BCD4;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
  letter-spacing: .075em;
  text-align: center; }
  @media screen and (max-width: 750px) {
    h1,
    .h1 {
      font-size: 1.6rem;
      margin: 0 0 2rem;
      padding: 1rem 2rem;
      width: calc(100% +  4rem);
      margin-left: -2rem;
      border-bottom: none;
      background-color: #00BCD4;
      color: #fff; }
      h1.notice,
      .h1.notice {
        background-color: red; }
      h1.stick,
      .h1.stick {
        position: fixed;
        top: 0;
        z-index: 999; } }

a {
  margin: 0;
  padding: 0;
  will-change: transition;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: 400;
  color: #00BCD4;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    color: #008494; }
  a img {
    border: 0 none;
    text-decoration: none; }

ul {
  list-style: none outside none; }
  ul ul {
    margin: 0; }

ol {
  margin: 0 0 0 3rem;
  padding: 0; }
  ol li {
    list-style: decimal;
    list-style-position: outside; }
  ol ol {
    margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-left: 2rem; }

p,
ul,
ol,
dl,
blockquote {
  clear: inherit;
  margin-bottom: 0.6666666667rem;
  vertical-align: middle; }

p {
  margin-bottom: 1em; }
  p:last-child {
    margin-bottom: 0; }

i {
  font-style: normal; }

blockquote {
  padding: 2rem 4rem;
  background-clip: border-box;
  border-radius: 5px;
  background-color: #e1e1e1;
  color: #4d4d4d; }
  @media screen and (max-width: 1025px) {
    blockquote {
      width: 100vw;
      max-width: none;
      margin-left: calc(-50vw + 50%);
      padding: 2rem calc(50% - 400px);
      padding: 2rem 4rem;
      background-clip: border-box;
      border-radius: 0; } }
  @media screen and (max-width: 1025px) and (max-width: 750px) {
    blockquote {
      padding: 2rem; } }

  blockquote:before {
    position: absolute;
    margin-left: -2rem;
    content: "\201C"; }

q {
  quotes: '\201C' '\201D' '\2018' '\2019'; }

abbr {
  border-bottom: 1px dotted currentColor;
  cursor: help; }

address {
  font-style: normal; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }
  sub.reference a,
  sup.reference a {
    color: #e1e1e1; }

mark {
  background: #e4f2fd;
  color: #bbdefb; }

pre {
  margin: 0 auto;
  padding: 2rem;
  background-clip: border-box;
  border-radius: 0;
  max-width: 800px;
  overflow: auto;
  word-wrap: break-word; }

kbd,
samp {
  font-family: Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  color: #0f0; }

@media print {
  * {
    background: transparent;
    color: #000;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none;
    text-shadow: none; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100%; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
main {
  padding: 0 calc(50% - 400px);
  position: relative;
  min-height: 50vh;
  padding-top: 2rem;
  background-color: #fff; }
  @media screen and (max-width: 1025px) {
    main {
      padding: 0 2rem; } }

article {
  zoom: 1;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem; }
  article:before, article:after {
    content: ' ';
    display: table; }
  article:after {
    clear: both; }

aside {
  width: 100vw;
  max-width: none;
  margin-left: calc(-50vw + 50%);
  padding: 2rem calc(50% - 400px);
  background-color: #f9f9f9; }
  @media screen and (max-width: 750px) {
    aside {
      padding: 2rem; } }
  aside div {
    width: 100vw;
    max-width: none;
    margin-left: calc(-50vw + 50%);
    padding: 2rem calc(50% - 400px); }
    @media screen and (max-width: 750px) {
      aside div {
        padding: 2rem; } }
  aside section {
    zoom: 1;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto; }
    aside section:before, aside section:after {
      content: ' ';
      display: table; }
    aside section:after {
      clear: both; }

header[role=banner] {
  padding: 0 calc(50% - 400px);
  padding: 4rem 0;
  position: relative;
  color: #fff;
  text-transform: uppercase; }
  header[role=banner] h2 {
    font-size: 5rem;
    margin: 0;
    line-height: 1; }
  header[role=banner] h3 {
    margin: 0;
    font-weight: 100; }

.toggle,
.full-screen-close {
  display: none; }

.full-screen-close {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 2; }

.toggle:checked + .outer-wrapper > .menu-container {
  margin-left: 0; }

.toggle:checked + .outer-wrapper .full-screen-close {
  display: block;
  background: rgba(0, 0, 0, 0.5); }

header,
main,
footer {
  will-change: transition;
  transition: all 0.2s ease-in-out; }

.menu {
  position: absolute;
  top: 2rem;
  left: 2rem; }
  .menu i {
    color: #fff; }

.toggle-btn,
.close-btn {
  cursor: pointer; }

.close-btn {
  float: right;
  color: #212121; }

.menu-container,
main {
  will-change: transition;
  transition: all 0.2s ease-in-out; }

.menu-container {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: absolute;
  float: left;
  background: #607d8b;
  width: 40%;
  max-width: 400px;
  height: 100%;
  margin-left: -41%;
  z-index: 99; }
  @media screen and (max-width: 750px) {
    .menu-container {
      width: 70%;
      margin-left: -70%; } }
  .menu-container header {
    padding: 2rem;
    background-color: #b3e5fc;
    text-align: left; }
    .menu-container header .headshot {
      width: 60px;
      height: 60px; }
    .menu-container header p {
      font-family: "Raleway", sans-serif, Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      margin-bottom: 0;
      color: #212121; }
    .menu-container header a {
      font-family: "Raleway", sans-serif, Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      color: #212121; }

.slide-menu li {
  font-size: 1.6rem; }
  .slide-menu li i {
    width: 20px;
    margin-right: 1rem;
    color: #fff; }
  .slide-menu li a {
    font-family: "Raleway", sans-serif, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    will-change: transition;
    transition: all 0.2s ease-in-out;
    display: block;
    padding: 2rem;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase; }
    .slide-menu li a:hover {
      background-color: #455A64; }

footer[role=contentinfo] {
  padding: 0 calc(50% - 400px);
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #455a64;
  color: #fff;
  text-align: center; }
  footer[role=contentinfo] .social {
    display: block; }
    footer[role=contentinfo] .social ul {
      margin-bottom: 0; }
      footer[role=contentinfo] .social ul li {
        display: inline;
        margin-left: 1rem; }
        footer[role=contentinfo] .social ul li:first-child {
          margin-left: 0; }
  footer[role=contentinfo] .twitter::before {
    font-family: "fontawesome", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: "";
    padding: 0 0;
    font-size: 24px;
    color: #00aced; }
  footer[role=contentinfo] .github::before {
    font-family: "fontawesome", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: "";
    padding: 0 0;
    font-size: 24px;
    color: #4183c4; }
  footer[role=contentinfo] .codepen::before {
    font-family: "fontawesome", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: "";
    padding: 0 0;
    font-size: 24px;
    color: #fff; }
  footer[role=contentinfo] .dribbble::before {
    font-family: "fontawesome", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: "";
    padding: 0 0;
    font-size: 24px;
    color: #ea4c89; }
  footer[role=contentinfo] .linkedin::before {
    font-family: "fontawesome", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: "";
    padding: 0 0;
    font-size: 24px;
    color: #007bb5; }
  footer[role=contentinfo] .sitemap::before {
    font-family: "fontawesome", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: "";
    padding: 0 0;
    font-size: 24px;
    color: #00BCD4; }

.clear {
  clear: both; }

.center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.left {
  float: left;
  left: 0; }

.right {
  float: right;
  right: 0; }

/* ==========================
    Body Text
   ========================== */
.base-font {
  font-family: "Merriweather", serif; }

.base-font-alt {
  font-family: "Raleway", sans-serif; }

.lede {
  font-size: 1.8rem; }

.body-text {
  font-size: 1.6rem; }

.small-body-text {
  font-size: 1.4rem; }

.disclaimer-text {
  font-size: 1.2rem; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.small-caps {
  font-variant: small-caps; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center;
  clear: both; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.text-bold {
  font-weight: 700; }

.image-left {
  float: left;
  margin-right: 2rem; }

.image-center {
  margin: 0 auto;
  text-align: center; }

.image-right {
  float: right;
  margin-left: 2rem; }

.image-rounded {
  background-clip: border-box;
  border-radius: 50%; }

.image-circular {
  background-clip: border-box;
  border-radius: 50%; }

.image-bordered {
  background-clip: border-box;
  border-radius: 50%; }

.box {
  margin: 0 0 2rem 0;
  padding: 2rem;
  background-clip: border-box;
  border-radius: 0;
  border: 1px solid #727272;
  background: #e1e1e1; }
  .box h1, .box h2, .box h3, .box h4, .box h5, .box h6 {
    margin-bottom: 0; }

.border-radius {
  background-clip: border-box;
  border-radius: 0; }

.bordered-solid {
  padding: 2rem;
  border: 1px solid #455A64; }

.bordered-dotted {
  padding: 2rem;
  border: 1px dotted #455A64; }

.bordered-left, .bordered-left-dark {
  padding-left: 2rem;
  border-left: 1px dotted #455A64; }

.bordered-left-dark {
  border-left: 1px solid #212121; }

.bordered-right, .bordered-right-dark {
  padding-right: 2rem;
  border-right: 1px dotted #455A64; }

.bordered-right-dark {
  border-right: 1px solid #212121; }

.overlay-striped {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAGCAYAAAAG5SQMAAAAG0lEQVR42mJgQICZcIIBXZSBOGUAAAAA//8DAIbHA5cISpS5AAAAAElFTkSuQmCC); }

.nowrap {
  overflow: hidden; }

.rwd-break {
  display: none; }
  @media screen and (max-width: 750px) {
    .rwd-break {
      display: block; } }

.hidden,
.desktop-hidden {
  display: none; }

.invisible {
  visibility: hidden; }

.no-fouc {
  display: none; }

.js-last {
  border-bottom: 0; }

.desktop-br {
  display: block; }

[class*='truncate'] {
  overflow: hidden;
  margin-bottom: 2rem; }

@media screen and (max-width: 1025px) {
  .tablet-hidden {
    display: none !important; }

  .desktop-hidden {
    display: block; }

  .tablet-br {
    display: block; }

  .bordered-left, .bordered-left-dark,
  .bordered-right,
  .bordered-right-dark {
    padding: 0;
    border: 0; }

  .column-count-2,
  .column-count-3,
  .column-count-4 {
    column-count: 2;
    column-gap: 4rem; } }
  @media screen and (max-width: 1025px) and (max-width: 750px) {
    .column-count-2,
    .column-count-3,
    .column-count-4 {
      column-count: 1; } }

@media screen and (max-width: 1025px) {
  .column-count-6 {
    column-count: 3;
    column-gap: 4rem; } }
  @media screen and (max-width: 1025px) and (max-width: 750px) {
    .column-count-6 {
      column-count: 1; } }

@media screen and (max-width: 750px) {
  .mobile-hidden {
    display: none !important; }

  .mobile-full {
    display: block;
    float: none; }

  .mobile-br {
    display: block; } }
.deg:after {
  content: '\00B0'; }

audio {
  display: inline-block;
  max-width: 100%; }
  audio:not([controls]) {
    display: none; }

.btn, .search-goog input[type='submit'], input[type='submit'], .cta, button {
  margin: 0;
  padding: 1rem 2rem;
  font-family: "Raleway", sans-serif, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  will-change: transition;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  bottom: 1rem;
  background-color: #607d8b;
  font-weight: 200;
  color: #fff;
  border: 0;
  text-align: center;
  cursor: pointer;
  line-height: initial;
  text-transform: uppercase;
  letter-spacing: .075em; }
  a .btn, a .search-goog input[type='submit'], .search-goog a input[type='submit'], a input[type='submit'], a .cta,
  a button {
    color: #fff; }
  .btn:hover, input[type='submit']:hover, .cta:hover, button:hover {
    background-color: #455a64;
    color: #00BCD4; }
  .btn:focus, input[type='submit']:focus, .cta:focus, button:focus {
    background-color: #455a64;
    background-image: 0;
    outline: none; }
  .btn.btn-error, input.btn-error[type='submit'], .btn-error.cta, button.btn-error {
    background: red;
    color: #fff; }
    .btn.btn-error:hover, input.btn-error[type='submit']:hover, .btn-error.cta:hover, button.btn-error:hover {
      background: #ff8080; }
  .btn:disabled, input[type='submit']:disabled, .cta:disabled, .btn.js-disabled, input.js-disabled[type='submit'], .js-disabled.cta, .btn.disabled, input.disabled[type='submit'], .disabled.cta, button:disabled, button.js-disabled, button.disabled {
    cursor: default;
    background: #e1e1e1;
    color: #212121;
    pointer-events: none; }
    .btn:disabled:hover, input[type='submit']:disabled:hover, .cta:disabled:hover, .btn:disabled:active, input[type='submit']:disabled:active, .cta:disabled:active, .btn.js-disabled:hover, input.js-disabled[type='submit']:hover, .js-disabled.cta:hover, .btn.js-disabled:active, input.js-disabled[type='submit']:active, .js-disabled.cta:active, .btn.disabled:hover, input.disabled[type='submit']:hover, .disabled.cta:hover, .btn.disabled:active, input.disabled[type='submit']:active, .disabled.cta:active, button:disabled:hover, button:disabled:active, button.js-disabled:hover, button.js-disabled:active, button.disabled:hover, button.disabled:active {
      background: #00BCD4; }
  .btn.block, input.block[type='submit'], .block.cta, button.block {
    display: block;
    width: 100%;
    text-align: center; }
  .btn.btn-xl, input.btn-xl[type='submit'], .btn-xl.cta, button.btn-xl {
    padding: 0.75em 4rem; }
  .btn.btn-lg, input.btn-lg[type='submit'], .btn-lg.cta, button.btn-lg {
    padding: 0.5em 3rem; }
  .btn.btn-sm, input.btn-sm[type='submit'], .btn-sm.cta, button.btn-sm {
    min-width: 0;
    padding: 0.3333333333rem 1.3333333333rem; }
  @media (max-width: max-width 750px 4) {
    .btn.mobile-full, input.mobile-full[type='submit'], .mobile-full.cta, button.mobile-full {
      display: block;
      width: 100%; }
      .btn.mobile-full a, input.mobile-full[type='submit'] a, .mobile-full.cta a, button.mobile-full a {
        display: block;
        text-align: center; }
      .btn.mobile-full + .btn.mobile-full, .search-goog input.mobile-full[type='submit'] + .btn.mobile-full, input.mobile-full[type='submit'] + .btn.mobile-full, .mobile-full.cta + .btn.mobile-full, .search-goog .btn.mobile-full + input.mobile-full[type='submit'], .search-goog .mobile-full.cta + input.mobile-full[type='submit'], .btn.mobile-full + input.mobile-full[type='submit'], .search-goog input.mobile-full[type='submit'] + input.mobile-full[type='submit'], input.mobile-full[type='submit'] + input.mobile-full[type='submit'], .mobile-full.cta + input.mobile-full[type='submit'], .btn.mobile-full + .mobile-full.cta, .search-goog input.mobile-full[type='submit'] + .mobile-full.cta, input.mobile-full[type='submit'] + .mobile-full.cta, .mobile-full.cta + .mobile-full.cta, button.mobile-full + .btn.mobile-full, .search-goog button.mobile-full + input.mobile-full[type='submit'], button.mobile-full + input.mobile-full[type='submit'], button.mobile-full + .mobile-full.cta, .btn.mobile-full + button.mobile-full, .search-goog input.mobile-full[type='submit'] + button.mobile-full, input.mobile-full[type='submit'] + button.mobile-full, .mobile-full.cta + button.mobile-full, button.mobile-full + button.mobile-full {
        margin-top: 2rem; } }

.search-goog input[type='text'] {
  border: 1px solid #e1e1e1;
  padding: .5em;
  margin-bottom: .5em; }
.search-goog input[type='submit']:hover {
  color: #fff; }

.cta {
  background: none;
  box-shadow: inset 0 0 0 1px #00BCD4;
  color: #00BCD4; }
  .cta:hover {
    background: none;
    box-shadow: inset 0 0 0 1px #00a9bf;
    color: #00a9bf; }

form input,
form textarea,
form label,
form select {
  font-size: 1.6rem;
  vertical-align: baseline; }
form label {
  width: 1px;
  height: 1px;
  margin: -1rem;
  padding: 0;
  position: absolute;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }
  form label.focusable:active, form label.focusable:focus {
    width: auto;
    height: auto;
    margin: 0;
    clip: auto;
    overflow: visible;
    position: static; }
form input[type]:not([type=range]):not([type=submit]), form textarea, form select {
  padding: 0.35em 0.5em 0.35em 0;
  margin: 0 0 2rem;
  background-clip: border-box;
  border-radius: 0;
  background: rgba(0, 0, 0, 0);
  will-change: transition;
  transition: all 0.2s ease-in-out;
  width: 100%;
  max-width: 100%;
  border: 0;
  border-bottom: 1px solid currentColor;
  outline: none;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: inherit; }
  .ie form input[type]:not([type=range]):not([type=submit]),
  .ie form textarea,
  .ie form select {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#00000000)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000,endColorstr=#00000000);
    zoom: 1; }
  form input[type]:not([type=range]):not([type=submit])[type='search']::-webkit-search-decoration, form input[type]:not([type=range]):not([type=submit])[type='search']::-webkit-search-cancel-button, form input[type]:not([type=range]):not([type=submit])[type='search']::-webkit-datetime-edit-fields-wrapper, form textarea[type='search']::-webkit-search-decoration, form textarea[type='search']::-webkit-search-cancel-button, form textarea[type='search']::-webkit-datetime-edit-fields-wrapper, form select[type='search']::-webkit-search-decoration, form select[type='search']::-webkit-search-cancel-button, form select[type='search']::-webkit-datetime-edit-fields-wrapper {
    -webkit-appearance: none; }
  form input[type]:not([type=range]):not([type=submit])[type="radio"], form input[type]:not([type=range]):not([type=submit])[type="checkbox"], form textarea[type="radio"], form textarea[type="checkbox"], form select[type="radio"], form select[type="checkbox"] {
    margin: 0.25em 0.5em 1em 0.1em;
    float: left; }
form textarea {
  overflow: auto;
  vertical-align: top;
  resize: none; }
form input[type="checkbox"], form input[type="radio"] {
  padding: 0;
  width: auto;
  border: 0; }
  form input[type="checkbox"]:focus, form input[type="radio"]:focus {
    box-shadow: none;
    outline: none; }
form input[type="range"] {
  width: 100%;
  height: .5em;
  border: none;
  outline: none;
  -webkit-appearance: none;
  background-color: #e1e1e1; }
  form input[type="range"]::-webkit-slider-thumb {
    background-clip: border-box;
    border-radius: 100%;
    -webkit-appearance: none;
    background-color: #455A64;
    width: 1em;
    height: 1em; }
form input::-webkit-datetime-edit-fields-wrapper {
  font-family: "Raleway", sans-serif; }
form select,
form datalist,
form input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none; }
form .select {
  position: relative;
  display: block; }
  form .select::after {
    padding: 0;
    font-family: "fontawesome", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    top: 50%;
    right: .5em;
    margin-top: -.7em;
    background: none;
    color: #e1e1e1;
    content: "\f078";
    pointer-events: none;
    z-index: 1; }
  form .select select {
    background: none; }
    form .select select::-ms-expand {
      display: none; }
form ::-webkit-input-placeholder {
  color: #455A64;
  font-weight: 100; }
form :-moz-placeholder {
  color: #455A64;
  font-weight: 100; }
form ::-moz-placeholder {
  color: #455A64;
  font-weight: 100; }
form :-ms-input-placeholder {
  color: #455A64;
  font-weight: 100; }
form .formitem {
  float: left;
  width: 100%; }
  @media screen and (max-width: 750px) {
    form .formitem {
      margin-bottom: .5em; } }
form .required:after {
  content: '*'; }
form .fillit {
  display: none; }
form input[type="file"]::-webkit-file-upload-button {
  opacity: 0; }

figure {
  position: relative;
  width: 100%; }

img {
  display: inherit;
  height: auto;
  border: 0;
  font-style: italics;
  color: #00BCD4; }

svg:not(:root) {
  overflow: hidden; }

figcaption {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-weight: bold; }

amp-img.logo {
  background-clip: border-box;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 2rem;
  z-index: 9999; }
amp-img.headshot {
  margin: base-spacing; }

hr {
  margin: 2rem 0;
  border-top: 1px solid #727272;
  border-bottom: 1px solid #fff;
  overflow: visible; }

details {
  margin: 1rem 0;
  background-color: #eeeeee; }
  details p {
    padding: 1rem; }
  details summary {
    padding: 0.5rem;
    font-family: "Raleway", sans-serif, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    width: 100%;
    background: #455A64;
    outline: none;
    font-weight: 400;
    color: #fff; }
    details summary::-webkit-details-marker {
      display: none; }

table {
  width: 100%;
  max-width: 100%; }

th {
  background: transparent; }

tr:nth-of-type(even) {
  background: #f9f9f9; }

th,
td {
  padding: 1em; }

video {
  margin: 0;
  display: inline-block;
  top: 0;
  left: 0;
  max-width: 100%; }
  @media screen and (max-width: 750px) {
    video video {
      height: auto; } }
  figure video {
    margin-bottom: 2rem; }

.styleguide main header,
.patterns main header {
  margin: 0 auto 3rem;
  font-family: "Raleway", sans-serif, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  display: table;
  position: relative;
  border: 2px solid currentColor;
  text-align: center;
  line-height: normal; }
  @media screen and (max-width: 750px) {
    .styleguide main header,
    .patterns main header {
      margin: 2rem 0 4rem;
      width: 100%; } }
  .styleguide main header h2,
  .patterns main header h2 {
    padding: 0.5em 1em;
    margin: 0;
    font-weight: 700;
    color: currentColor; }
  .styleguide main header span,
  .patterns main header span {
    margin: 0 2rem;
    padding: 0 1rem;
    position: relative;
    top: -.75em;
    text-transform: uppercase; }
  .styleguide main header span + h2,
  .patterns main header span + h2 {
    padding-top: 0; }
.styleguide .sticky,
.patterns .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0; }
  @media screen and (max-width: 750px) {
    .styleguide .sticky,
    .patterns .sticky {
      position: initial;
      top: initial; } }
  .styleguide .sticky:before, .styleguide .sticky:after,
  .patterns .sticky:before,
  .patterns .sticky:after {
    content: '';
    display: table; }
.styleguide a.logo,
.patterns a.logo {
  color: inherit; }
  .styleguide a.logo:hover,
  .patterns a.logo:hover {
    border-bottom: none; }
.styleguide .colors, .styleguide .grid,
.patterns .colors,
.patterns .grid {
  padding: 2rem;
  background-clip: border-box;
  border-radius: 0; }
  .styleguide .colors.color-white, .styleguide .color-white.grid,
  .patterns .colors.color-white,
  .patterns .color-white.grid {
    outline: 1px solid white; }
  @media screen and (max-width: 1025px) {
    .styleguide .colors, .styleguide .grid,
    .patterns .colors,
    .patterns .grid {
      margin-bottom: 1rem; } }
.styleguide .swatch,
.patterns .swatch {
  margin: 0 0 2rem;
  background-clip: border-box;
  border-radius: 0;
  overflow: auto; }
.styleguide .swatch-color,
.patterns .swatch-color {
  padding: 3.5em 2rem;
  position: relative; }
  .styleguide .swatch-color.color-white,
  .patterns .swatch-color.color-white {
    border: 1px solid #e1e1e1;
    border-bottom: none; }
  .styleguide .swatch-color:before, .styleguide .swatch-color:after,
  .patterns .swatch-color:before,
  .patterns .swatch-color:after {
    position: absolute;
    content: '';
    top: 0;
    right: 2em;
    height: 100%;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.1); }
  .styleguide .swatch-color:after,
  .patterns .swatch-color:after {
    right: 0;
    background-color: rgba(0, 0, 0, 0.1); }
  @media screen and (max-width: 750px) {
    .styleguide .swatch-color,
    .patterns .swatch-color {
      padding: 1em 2rem; } }
.styleguide .swatch-info,
.patterns .swatch-info {
  padding: 1rem;
  border: 1px solid #e1e1e1;
  border-top: none;
  background: #fff;
  color: #212121;
  text-align: center; }
  .styleguide .swatch-info p:first-of-type,
  .patterns .swatch-info p:first-of-type {
    font-weight: bold; }
.styleguide .grid,
.patterns .grid {
  background-clip: border-box;
  border-radius: 0;
  background: #607d8b; }
  .styleguide .grid:nth-of-type(even),
  .patterns .grid:nth-of-type(even) {
    background: #99aeb8; }
.styleguide .prettyprint,
.patterns .prettyprint {
  display: none; }

header {
  text-align: center; }

.highlight {
  width: 100vw;
  max-width: none;
  margin-left: calc(-50vw + 50%);
  padding: 2rem calc(50% - 400px);
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #002b36;
  color: #93a1a1; }
  @media screen and (max-width: 750px) {
    .highlight {
      padding: 2rem; } }
  .highlight .c {
    color: #586e75; }
  .highlight .err,
  .highlight .g,
  .highlight .l,
  .highlight .n,
  .highlight .p,
  .highlight .go,
  .highlight .gp,
  .highlight .gs,
  .highlight .gt,
  .highlight .ld,
  .highlight .na,
  .highlight .w,
  .highlight .sd,
  .highlight .sh,
  .highlight .nl,
  .highlight .nn,
  .highlight .nx,
  .highlight .py {
    color: #93a1a1; }
  .highlight .gs {
    color: #93a1a1;
    font-weight: bold; }
  .highlight .ge {
    color: #93a1a1;
    font-style: italic; }
  .highlight .k,
  .highlight .o,
  .highlight .cp,
  .highlight .cs,
  .highlight .gi,
  .highlight .kb,
  .highlight .kp,
  .highlight .ow {
    color: #859900; }
  .highlight .cm,
  .highlight .c1,
  .highlight .sb {
    color: #586e75; }
  .highlight .x,
  .highlight .gh,
  .highlight .gu,
  .highlight .kc,
  .highlight .no,
  .highlight .ni,
  .highlight .ne,
  .highlight .se {
    color: #cb4b16; }
  .highlight .gr,
  .highlight .kt,
  .highlight .sr {
    color: #dc322f; }
  .highlight .nb {
    color: #b58900; }
  .highlight .kd,
  .highlight .kr,
  .highlight .nc,
  .highlight .nd,
  .highlight .nf,
  .highlight .nt,
  .highlight .nv,
  .highlight .bp,
  .highlight .vc,
  .highlight .vg,
  .highlight .vi {
    color: #268bd2; }
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .mo,
  .highlight .sc,
  .highlight .s2,
  .highlight .si,
  .highlight .sx,
  .highlight .s1,
  .highlight .ss,
  .highlight .il,
  .highlight .gd,
  .highlight .m,
  .highlight .s {
    color: #2aa198; }

.home section {
  border-bottom: 1px solid #e1e1e1; }
  .home section:last-of-type {
    border-bottom: 0; }

.email article {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e1e1e1; }
  .email article:last-of-type {
    border-bottom: 0; }
  .email article ol > li {
    padding: 1rem 0;
    display: inline-block;
    width: 100%; }
  .email article ul ~ ul {
    margin-bottom: 0; }
  .email article ul > li {
    list-style: outside disc;
    margin-left: 1.25em;
    border-bottom: 0; }

.sdlc main {
  padding-bottom: 0; }
.sdlc article ul > li {
  padding: 1rem 0;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #e1e1e1; }
  .sdlc article ul > li:last-child {
    border-bottom: 0; }

.ada main {
  padding-bottom: 2rem; }

.resume main {
  padding-top: 0;
  padding-bottom: 0; }
  .resume main header {
    margin: 0 auto 3rem;
    font-family: "Raleway", sans-serif, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    display: table;
    position: relative;
    border: 2px solid currentColor;
    text-align: center;
    line-height: normal; }
    @media screen and (max-width: 750px) {
      .resume main header {
        margin: 2rem 0 4rem;
        width: 100%; } }
    .resume main header h2 {
      padding: 0.5em 1em;
      margin: 0;
      font-weight: 700;
      color: currentColor; }
    .resume main header span {
      margin: 0 2rem;
      padding: 0 1rem;
      position: relative;
      top: -.75em;
      text-transform: uppercase; }
    .resume main header span + h2 {
      padding-top: 0; }
  .resume main article {
    width: 100vw;
    max-width: none;
    margin-left: calc(-50vw + 50%);
    padding: 2rem calc(50% - 400px); }
    @media screen and (max-width: 750px) {
      .resume main article {
        padding: 2rem; } }
  .resume main section {
    width: 100vw;
    max-width: none;
    margin-left: calc(-50vw + 50%);
    padding: 2rem calc(50% - 400px); }
    @media screen and (max-width: 750px) {
      .resume main section {
        padding: 2rem; } }
.resume .summary,
.resume .featured {
  background-color: #00bdbd;
  color: #fff; }
  .resume .summary header span,
  .resume .featured header span {
    background-color: #00bdbd; }
  .resume .summary ul,
  .resume .featured ul {
    column-count: 3;
    column-gap: 2rem;
    text-align: center; }
    @media screen and (max-width: 750px) {
      .resume .summary ul,
      .resume .featured ul {
        column-count: 1; } }
.resume .featured {
  text-align: center; }
  .resume .featured ul > li {
    padding: 1rem 0;
    display: inline-block;
    width: 100%; }
  .resume .featured a {
    color: #fff; }
.resume .skills {
  background-color: #f9f9f9;
  color: #212121; }
  .resume .skills header span {
    background-color: #f9f9f9; }
  .resume .skills ul {
    column-count: 3;
    column-gap: 2rem;
    text-align: center; }
    @media screen and (max-width: 750px) {
      .resume .skills ul {
        column-count: 1; } }
.resume .experience {
  background-color: #2bb3dd;
  color: #fff; }
  .resume .experience a {
    color: #fff; }
    .resume .experience a:hover {
      color: #e1e1e1; }
  .resume .experience header span {
    background-color: #2bb3dd; }
.resume .education {
  color: #212121;
  text-align: center; }
  .resume .education .overlay {
    background-color: #e1e1e1; }
.resume .portfolio {
  background-color: #e1e1e1;
  color: #212121; }
  .resume .portfolio header span {
    background-color: #e1e1e1; }
  .resume .portfolio .portfolio-gallery .cap {
    padding: 0.5rem 0.5rem;
    background: white; }
    .ie .resume .portfolio .portfolio-gallery .cap {
      background: transparent;
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF)";
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF,endColorstr=#FFFFFFFF);
      zoom: 1; }
.resume .code-samples {
  background-color: #00BCD4;
  color: #fff;
  text-align: center; }
  .resume .code-samples header span {
    background-color: #00BCD4; }
  .resume .code-samples a {
    color: #fff; }
    .resume .code-samples a:hover {
      color: #e1e1e1; }
.resume .speaking {
  background-color: #fff;
  text-align: center; }
.resume .contact {
  width: 100vw;
  max-width: none;
  margin-left: calc(-50vw + 50%);
  padding: 2rem calc(50% - 400px);
  background-image: url("/images/contact.jpg");
  background-size: cover;
  color: #fff;
  box-shadow: inset 0 8px 8px -8px #727272, inset 0 -8px 8px -8px #727272; }
  @media screen and (max-width: 750px) {
    .resume .contact {
      padding: 2rem; } }
  .resume .contact .overlay {
    background: rgba(187, 222, 251, 0.65); }
    .ie .resume .contact .overlay {
      background: transparent;
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A6BBDEFB, endColorstr=#A6BBDEFB)";
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#A6BBDEFB,endColorstr=#A6BBDEFB);
      zoom: 1; }
  .resume .contact header span {
    background-color: #bbdefb; }
.resume .pdf {
  background-color: #f9f9f9;
  text-align: center; }

.writing ul > li {
  padding: 1rem 0;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #e1e1e1; }
  .writing ul > li:last-child {
    border-bottom: 0; }
.writing time {
  display: block;
  color: #e1e1e1; }

.sitemap article ul > li {
  padding: 1rem 0;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #e1e1e1; }
  .sitemap article ul > li:last-child {
    border-bottom: 0; }

/*# sourceMappingURL=main.css.map */
