<section class="experience" id="experience">
  {% include content.html %}

  <header role="banner">
    <div class="heading">
      <p>
        <span>My Professional Background</span>
      </p>
      <h2>Experience</h2>
    </div>
  </header>

  <section>
    <div class="row">
      <div class="fourth">
        <p class="h3 light">Apr 2014 - present</p>
      </div>
      <div class="three-fourths">
        <h3>Software Engineer <span>at</span> GLG</h3>
        <ul>
          <li>Front-End Development SME</li>
          <li>Polymer Components</li>
          <li>Mobile Application Design and Development</li>
        </ul>
      </div>
    </div>
  </section>

  <hr>

  <section>
    <div class="row">
      <div class="fourth">
        <p class="h3 light">Jan 2013 - Apr 2014</p>
      </div>
      <div class="three-fourths">
        <h3>Manager, Front-End Development <span>at</span> Time Warner Cable</h3>
        <p>Front-End Development Manager, eCommerce &amp; Interactive Marketing</p>
        <ul class="bulleted">
          <li>Developed ground-up responsive framework for Time Warner Cable&#174; website and eCommerce portal.</li>
          <li>Prepared UX/UI responsive pattern styleguide for brand equity.</li>
          <li>Took over all front-end development responsibilities from 3rd party vendor and streamlined page build times to meet department deadlines.</li>
          <li>Created Rapid Wireframe Prototype templating system for fast page iteration on-the-fly with stakeholders. Contribute to Sprint Planning and Closures as technical SME with regards to achievable deadlines and prioritizing development agility.</li>
          <li>Developed company-wide HTML5 & CSS3 ‘Best-Practices’ for development teams' Wiki to serve as training and documentation for future development initiatives.</li>
        </ul>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="fourth">
        <p class="h3 light">Sep 2012 - Jan 2013</p>
      </div>
      <div class="three-fourths">
        <h3>Senior Web Design and Development Consultant <span>at</span> Time Warner Cable</h3>
        <p>Design and development of UX/UI for relaunch of the TWC&#174; customer facing site</p>
        <ul class="bulleted">
          <li>Report to Sr. Director, eCommerce and Interactive Marketing, developing front-end codeand solutions across teams and platforms.</li>
          <li>Led design and development initiative for Responsive site creation with outside design firm.</li>
          <li>Work with Art Director on all cross-browser visual consistency issues.</li>
          <li>Influenced web form flow, layout, and transitional functionality. Developed Movies-On-Demand web application.</li>
        </ul>
      </div>
    </div>
  </section>

  <hr>

  <section>
    <div class="row">
      <div class="fourth">
        <p class="h3 light">May 2012 - Sep 2012</p>
      </div>
      <div class="three-fourths">
        <h3>Creative Director <span>at</span> Oralabs, Inc.</h3>
        <p>Manage and execute web development and marketing direction for products and services.</p>
        <p>Email Marketing, Product &amp; Packaging Design, Web Design &amp; Development, Video Production, Catalog Layout &amp; Design, Marketing Team lead.</p>
        <ul class="bulleted">
          <li>Lead development and execution of all web and media assets for all departments.</li>
          <li>Coordinate and execute the experience design for external digital communications and web sites, including content development, user research, user-centered design processes, project leadership, and user experience prototyping and development.</li>
          <li>Create visual design, including typography, visual concept, logo and icon design for web and collateral UI design.</li>
          <li>Lead design team on new product packaging for co-branding partnership with Procter &amp; Gamble's oral care line.</li>
          <li>Oversee seamless integration of order fulfillment (EDI) with front-end order entry.</li>
          <li>Develop and integrate data-driven analysis and reporting features to sales and leadership team.</li>
          <li>Design &amp; develop creative marketing materials for all inbound and outbound marketing efforts.</li>
          <li>Develop Responsive HTML email template program for all outbound marketing collateral. Average CTOR of 18.2% to targeted and segmented subscriber lists with forwards averaging 0.7%</li>
          <li>Key contributions to process flow for marketing collateral approval.</li>
          <li>Facilitate marketing meetings with department heads to insure consistent message.</li>
        </ul>
      </div>
    </div>
  </section>

  <hr>

  <section>
    <div class="row">
      <div class="fourth">
        <p class="h3 light">Sep 2011 - May 2012</p>
      </div>
      <div class="three-fourths">
        <h3>Front End UX/UI Engineer <span>at</span> Placewise Media</h3>
        <p>Second-chair for all front-end development and UX/UI evolution.</p>
        <p>Development of Multi-Tiered Mall and Commercial Property sites. HTML5 and CSS3 compliant, socially enhanced, fluid designs.</p>
        <ul class="bulleted">
          <li>Responsible for development and delivery of over 80 large mall and commercial property web sites.</li>
          <li>Worked with management and technical team on UX/UI direction for integrating sites with socially-enhanced features and layouts.</li>
          <li>Responsible for cross-browser consistency compliance and standards.</li>
          <li>Participated in development of key web based application strategy elements to be sourced across all sites.</li>
          <li>Served as WordPress Subject Matter Expert and post-launch development lead for <a href="http://placewise.com">Placewise website</a>.</li>
        </ul>
      </div>
    </div>
  </section>

  <hr>

  <section>
    <div class="row">
      <div class="fourth">
        <p class="h3 light">Mar 2010 - Sep 2011</p>
      </div>
      <div class="three-fourths">
        <h3>Web Developer <span>at</span> Oralabs, Inc.</h3>
        <p>Managed the redevelopment of corporate site and promotional products industry marketing effort.</p>
        <p> Web Design &amp; Development, Email Marketing, Print Advertisements, Product &amp; Packaging Design, Video Production, Catalog Layout &amp; Design.</p>
        <ul class="bulleted">
          <li>Served as lead developer in charge of the relaunch of <a href="http://oralabs.com" target="_blank">oralabs.com</a>.</li>
          <li>Maintained and redeveloped <a href="http://leashables.com" target="_blank">leashables.com</a> site.</li>
          <li>Acquired responsibility for Leashables marketing efforts.</li>
          <li>Led product packaging design for partnership with Procter &amp; Gamble; including the <a href="http://www.scopemouthwash.com/scope-products/scope-outlast-minibrush.aspx">Scope Outlast minibrush</a> with over $3M in first year sales.</li>
          <li>Created and developed email marketing campaign HTML templates.</li>
          <li>Served as a technical resource for co-workers and management team; solving problems with databases, spreadsheets, and presentations.</li>
          <li>Contributed key processes for art and web creation requests with the integration of SharePoint software.</li>
        </ul>
      </div>
    </div>
  </section>

  <hr>

  <section>
    <div class="row">
      <div class="fourth">
        <p class="h3 light">Jan 2010 - Mar 2010</p>
      </div>
      <div class="three-fourths">
        <h3>Web Designer &amp; Developer at Platinum7 Marketing</h3>
        <p>Senior web developer for client-side site development.</p>
        <p>Web Design, Wordpress Template Creation, Twitter &amp; Youtube Template Creation, Branding and Identity - Contract Position.</p>
      </div>
    </div>
  </section>

  <hr>

  <section>
    <div class="row">
      <div class="fourth">
        <p class="h3 light">Nov 2009 - Jan 2010</p>
      </div>
      <div class="three-fourths">
        <h3>Developer <span>at</span> Pearson eCollege</h3>
        <p>Development team member for Blackboard web and mobile app.</p>
        <p>HTML/CSS - Temp/Contract Position.</p>
      </div>
    </div>
  </section>

  <hr>

  <section>
    <div class="row">
      <div class="fourth">
        <p class="h3 light">May 2005 - May 2009</p>
      </div>
      <div class="three-fourths">
        <h3>Web Designer &amp; Developer at Tire Distributors Inc.</h3>
        <p>Web Design &amp; Development, Email Marketing, Print Advertisements.</p>
      </div>
    </div>
  </section>

  {% include end_content.html %}
</section>
<!-- /.experience -->
