<h2 id="about-anchor" class="jumpTo-anchor">About the Style Guide</h2>

<div class="box-column">
  <p class="lede">Style guides require compliance and conformity; in return they provide stability and cohesion. A style guide and code standards document is a way of ensuring brand and code consistency. By maintaining all of a website's primary elements on a single page, we can see how we can modularly reuse components as well as how changes to semantic elements will affect the site overall. This style guide also serves as a curated, archival collection for design and UX/UI decisions made during the course of the site's development - creating code that tends to avoid arbitrary decisions if a predefined choice presents itself.</p>
  <small>*Attributes and credits at the bottom</small>
</div>
