<div class="contact" id="contact">
  {% include content.html %}

  <div class="row">
    <div class="third">
      <aside>
        <h4>Contact Information</h4>
        <address>
          7637 Nuthatch Cir / Parker / CO 80134<br>
          <a class="tel" href="tel:+3038757843">303-875-7843</a><br>
          <a href="mailto:max@maxquattromani.com">max@maxquattromani.com</a>
        </address>
      </aside>
    </div>

    <div class="two-thirds">
      <h4>Let's Talk</h4>

      <form action="">
        <fieldset>
          <div class="row">
            <div class="half">
              <label for="name" class="visually-hidden">Name</label>
              <input type="text" id="name" name="name" placeholder="Name" tabindex="1" required>
            </div>
            <div class="half">
              <label for="email" class="visually-hidden">Email</label>
              <input type="text" id="email" name="email" placeholder="Email Address" tabindex="2" required>
            </div>
          </div>

          <label for="textarea" class="visually-hidden">Send me a message:</label>
          <textarea id="textarea" placeholder="Message" tabindex="3"></textarea>
        </fieldset>
      </form>
    </div>
  </div>

  {% include end_content.html %}
</div>
<!-- /.contact -->
