<section class="contact" id="contact">
  <div class="overlay">
    <div class="content">
      <div class="container">

        <header role="banner">
          <div class="heading">
            <h2>Contact Me</h2>
          </div>
        </header>

        <div class="row">
          <div class="third">
            <aside>
              <h4>Contact Information</h4>
              <h6 itemprop="name">Max Quattromani</h6>
              <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">7637 Nuthatch Cir</span> / <span itemprop="addressLocality">Parker</span> / <span itemprop="addressRegion">CO</span> <span itemprop="postalCode">80134</span>
              </address>
              <br>

              <h6>Telephone</h6>
              <a class="tel" href="tel:+3038757843" itemprop="telephone">303-875-7843</a>
              <br><br>

              <h6>Email</h6>
              <a href="mailto:max@maxquattromani.com" itemprop="email">max@maxquattromani.com</a>
            </aside>
          </div>

          <div class="two-thirds">
            <h4>Let's Talk</h4>

            <form action="http://formspree.io/max@maxquattromani.com" method="POST">
              <input type="hidden" name="_next" value="http://maxquattromani.com/thank-you" />
              <fieldset>

                <div class="row">
                  <div class="half">
                    <div class="formitem">
                      <label for="name" class="visually-hidden">Name</label>
                      <input type="text" id="name" name="name" x-autocompletetype="name-full" placeholder="Name" tabindex="91" required>
                    </div>
                  </div>
                  <div class="half">
                    <div class="formitem">
                      <label for="email" class="visually-hidden">Email</label>
                      <input type="email" id="email" name="email" x-autocompletetype="email" placeholder="Email Address" tabindex="92" required>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="formitem">
                    <label for="textarea" class="visually-hidden">Send me a message:</label>
                    <textarea id="textarea" name="message" placeholder="Message" tabindex="93"></textarea>
                  </div>
                </div>

              </fieldset>
              <button class="btn btn-primary" type="submit" name="submit" value="Submit">Submit</button>

              <button type="reset" name="reset" value="reset">
                <span>Clear</span>
              </button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<div class="contact-border"></div>
<!-- /.contact -->
