---
layout: default
title: Styleguide
description: "A virtual brand guideline of all the high-level desicions made when designing and developing components for my site."
class: styleguide
parent: Styleguide
---

{% include content.html %}

<header role="banner">
  <div class="heading">
    <h2>{{ page.title }}</h2>
  </div>
</header>

<p>Version: 0.2.2 -- Updated: {{ site.time }}</p>
<hr>

<div class="row">
  <div class="fifth menu">
    <h2>Menu</h2>
    <div class="box-column">
      <ul class="vertical lined">
        <li>
          <a href="#about-anchor">About</a>
        </li>
        <li>
          <a href="#colors-anchor">Colors</a>
        </li>
        <li>
          <a href="#typography-anchor">Typography</a>
        </li>
        <li>
          <a href="#buttons-anchor">Buttons</a>
        </li>
        <li>
          <a href="#grid-anchor">Grid</a>
        </li>
        <li>
          <a href="#images-anchor">Images</a>
        </li>
        <li>
          <a href="#video-anchor">Video</a>
        </li>
        <li>
          <a href="#audio-anchor">Audio</a>
        </li>
        <li>
          <a href="#bestPractices-anchor">Best Practices</a>
        </li>
      </ul>
    </div>
    <div class="box-column">
      <a href="/patterns">Pattern Library <span class="fa fa-angle-right"></span></a>
    </div>
  </div>
  <div class="four-fifths">

    <!-- Loop through and include all styleguide sections -->
    {% include styleguide/about/index.html %}
    {% include styleguide/colors/index.html %}
    {% include styleguide/typography/index.html %}
    {% include styleguide/buttons/index.html %}
    {% include styleguide/grid/index.html %}
    {% include styleguide/images/index.html %}
    {% include styleguide/video/index.html %}
    {% include styleguide/audio/index.html %}
    {% include styleguide/best_practices/index.html %}

    <h2>FIN.</h2>

  </div>
</div>

{% include end_content.html %}
