---
layout: default
title: Styleguide
description: "A virtual brand guideline of all the high-level desicions made when designing and developing components for my site."
class: styleguide
parent: Styleguide
---

{% include content.html %}

<header role="banner">
  <div class="heading">
    <h2>{{ page.title }}</h2>
  </div>
</header>

<p>Version: 0.2.2 -- Updated: {{ site.time }}</p>
<hr>

<!-- Loop through and include all styleguide sections -->
{% include styleguide/about/index.html %}
{% include styleguide/colors/index.html %}
{% include styleguide/typography/index.html %}
{% include styleguide/buttons/index.html %}
{% include styleguide/grid/index.html %}
{% include styleguide/images/index.html %}
{% include styleguide/video/index.html %}
{% include styleguide/audio/index.html %}
{% include styleguide/best_practices/index.html %}

<h2>FIN.</h2>

{% include end_content.html %}
