@charset "UTF-8";

img {
  display: inherit;
  height: auto;
  border: 0;
  // style the alt text
  font-style: italics;
  color: $color-brand-primary;
}

figure {
  position: relative;
  width: 100%;
}

figcaption {
  @include font-size(14);
  margin-bottom: ($base-spacing / 2);
  font-weight: bold;
}

amp-img {
  &.logo {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: $base-spacing;
    z-index: 9999;
  }
}
