// =Buttons
$base-button-bg: $color-brand-quaternary;
$base-button-bg-hover: $color-brand-primary-complimentary;
$base-button-color: $color-white;
$base-button-color-hover: $color-brand-primary;
$button-font-family: $heading-font-family;
$button-font-size: 16;
$button-text-transform: uppercase;
