// =Colors
$color-white: #fff;
$color-off-white: #f9f9f9;
$color-black: #000;
$color-grey: #455A64;
$color-light-grey: #b6b6b6;
$color-dark-grey: #727272;

// =Brand Palette
$color-brand-primary: #00BCD4; // Headings
$color-brand-secondary: #212121; // Text
$color-brand-tertiary: $color-white; // Background
$color-brand-quaternary: #607d8b; // Accent
$color-brand-quinary: #bbdefb; // Accent

$color-brand-primary-complimentary: #455a64;
$color-brand-secondary-complimentary: #2bb3dd;
$color-brand-tertiary-complimentary: #00bdbd;
$color-brand-quaternary-complimentary: #b3e5fc;
$color-brand-quinary-complimentary: green;

$color-primary-red: red;
$color-primary-green: green;
$color-primary-blue: $color-brand-quinary;

// =Background
$site-bg: $color-white;
$site-bg-start: $color-white;
$site-bg-end: $color-white;
$site-background-attachment: null; // 'fixed, local, inherit, or null'

// =Default Text Colors
$base-font-color: $color-brand-secondary;
$base-accent-color: $color-brand-tertiary;
// $heading-color: $color-brand-primary;
// $heading-color-alt: $color-brand-secondary;

// =Supplementary Colors
$alert-bg: mix($color-primary-red, white, 40%);
$alert-color: $color-primary-red;
$success-bg: mix($color-primary-green, white, 40%);
$success-color: $color-primary-green;
$info-bg: mix($color-primary-blue, white, 40%);
$info-color: $color-primary-blue;
