// =Footer
$footer-bg: $color-dark-grey;
$footer-font-size: $disclaimer-text;
$footer-link-font-weight: 400;
$footer-text: $color-white;
$footer-link-color: #999;
$footer-link-color-hover: $base-link-color-hover;

$shadow: false;
