// =Header
$header-bg: $color-white;
$header-border-color: $color-brand-quinary;
$header-color: $base-font-color;
$header-link: $base-link-color;
$header-link-hover: $base-link-color-hover;
$header-bg-img: 'path/to/pattern.png';
