// =Headings
$heading-font-family: $base-font-family-alt;
$heading-font-family-alt: $base-font-family-alt;
$heading-color-primary: $color-brand-primary;
$heading-color-secondary: $color-brand-secondary;
$heading-line-height: 1.618;

$heading-list: (
  h1   32   400   $heading-font-family    uppercase,
  h2   28   400   $heading-font-family    uppercase,
  h3   24   400   $heading-font-family    uppercase,
  h4   21   200   $heading-font-family    uppercase,
  h5   18   700   $heading-font-family    uppercase,
  h6   16   100   $heading-font-family    uppercase
);
