$root-background-color: $color-grey;
$root-box-sizing: border-box;
$root-color: $color-brand-secondary;
$root-cursor: default;
$root-font-size: $base-font-reset;
$root-font-family: $base-font-family;
