// =Social Media
$codepen: $color-white;
$dribbble: #ea4c89;
$facebook: #3b5998;
$flickr: #ff0084;
$github: #4183c4;
$googleplus: #dd4b39;
$instagram: #125688;
$linkedin: #007bb5;
$pinterest: #cb2027;
$skype: #00aff0;
$snapchat: #fffc00;
$tumbler: #34465d;
$twitter: #00aced;
$vimeo: #aad450;
$vine: #00b489;
$youtube: #e52d27;

$twitter-link-color: #ffacee;
$twitter-color-alt: #b8dcee;
$twitter-link-color-hover: $twitter-link-color;

$facebook-link-color: #3b5999;
$facebook-color-alt: #cad3eb;
$facebook-link-color-hover: $facebook-link-color;

$youtube-link-color: #e52d27;
$youtube-link-color-hover: $youtube-link-color;

$tumbler-link-color: #34465d;
$tumbler-link-color-hover: $youtube-link-color;

$pinterest-link-color: #bd081c;
$pinterest-link-color-hover: $pinterest-link-color;

$instagram-link-color: #3f729b;
$instagram-link-color-hover: $instagram-link-color;

$yahoo-link-color: #410093;
$yahoo-link-color-hover: $youtube-link-color;

$skype-link-color: #00aff0;
$skype-link-color-hover: $youtube-link-color;

$googleplus-link-color: #dc4e41;
$googleplus-link-color-hover: $youtube-link-color;

$github-link-color: #4183c4;
$github-link-color-hover: $github-link-color;

$codepen-link-color: $codepen;
$codepen-link-color-hover: $codepen-link-color;

$dribbble-link-color: #ea4c89;
$dribbble-link-color-hover: $dribbble-link-color;

$linkedin-link-color: #007bb5;
$linkedin-link-color-hover: $linkedin-link-color;

$mobile-link-color: #ba5915;
$mobile-link-color-hover: $mobile-link-color;

$vine-link-color: #00b489;
$vine-link-color-hover: $mobile-link-color;

$flickr-link-color: #ff0084;
$flickr-link-color-hover: $mobile-link-color;

$snapchat-link-color: #fffc00;
$snapchat-link-color-hover: $mobile-link-color;
