<article class="summary" id="summary">
  {% include content.html %}

  <header role="banner">
    <div class="heading">
      <p>
        <span>About Me</span>
      </p>
      <h2>Summary</h2>
    </div>
  </header>

  <p class="lede">Results-oriented, versatile and accomplished Front-end Developer, UX/UI Design professional with a broad technical skill set. 9 years of progressively responsible experience. Skilled in strategic planning and project execution. Excellent analytical and communication skills and ability to speak to all organizational levels. Thrives in a fast-paced, dynamic environment where creative problem solving and a focus on the end-goal are valued.</p>

  <p>Key areas of expertise include:</p>
  <ul class="bulleted four_column_list">
    <li>Information Gathering</li>
    <li>Persona Design</li>
    <li>Planning/Wireframing</li>
    <li>Interaction Design</li>
    <li>Development</li>
    <li>Testing</li>
    <li>Delivery</li>
    <li>Maintenance</li>
    <li>Troubleshooting</li>
    <li>Problem Resolution</li>
  </ul>

  <hr>

  <a href="/resume/Max_Quattromani_resume.pdf" class="cta resume">Download PDF Resume</a>

  {% include end_content.html %}
</article>
<!-- /.summary -->
