<article class="summary" id="summary" role="article">
  <section>

    <header>
      <span>About Me</span>
      <h2>Summary</h2>
    </header>

    <p class="lede">Accomplished software engineering leader with diverse management experience and a strong technical background. Over a decade of career success delivering innovative B2B and B2C solutions at companies ranging from startups to Fortune 150 companies.</p>

    <p>Deep expertise in front-end development building scalable, responsive websites. Certified and experienced agile practitioner recognized for building productive, empowered, and self-organizing teams. Skilled in strategic planning and setting technical vision. Proven track record of delivering business-critical results within time and budget constraints.</p>

    <h4>Key areas of expertise include:</h4>

    <ul>
      <li>Information Gathering</li>
      <li>Persona Design</li>
      <li>Planning/Wireframing</li>
      <li>Interaction Design</li>
      <li>Development</li>
      <li>Testing</li>
      <li>Delivery</li>
      <li>Maintenance</li>
      <li>Troubleshooting</li>
      <li>Problem Resolution</li>
    </ul>

  </section>
</article>
<!-- /.summary -->
