<article class="summary" id="summary">
  {% include content.html %}

  <header role="banner">
    <div class="heading">
      <p>
        <span>About Me</span>
      </p>
      <h2>Summary</h2>
    </div>
  </header>

  <p class="lede">Results-oriented, versatile and accomplished Front-end Developer, UX/UI Design professional with a broad technical skill set. 9 years of progressively responsible experience. Skilled in strategic planning and project execution. Excellent analytical and communication skills and ability to speak to all organizational levels. Thrives in a fast-paced, dynamic environment where creative problem solving and a focus on the end-goal are valued.</p>

  <p>Key areas of expertise include: Information Gathering &#149; Persona Design &#149; Planning/Wireframing &#149; Interaction Design &#149; Development &#149; Testing &amp; Delivery &#149; Maintenance &#149; Troubleshooting &amp; Problem Resolution</p>

  {% include end_content.html %}
</article>
<!-- /.summary -->
