<section class="portfolio" id="portfolio">
  {% include content.html %}

  <header role="banner">
    <div class="heading">
      <p>
        <span>Samples of My Work</span>
      </p>
      <h2>Portfolio</h2>
    </div>
  </header>

  <p class="lede">
    UX/UI is all about appealing to the users basal need to feel connected - the same principle that drives ergonomics can be used in the crafting of interactions that make the user feel at home, feel like they've been there before, and instinctually make sense.
  </p>
  <p>
    Whether hand-crafted with a paper and pencil or designed right in the browser; User Experience that engages a users tactile senses along with their hierarchy of needs takes the senses to the next level.
  </p>
  <p>
    The foundation of good design is not what it is designed to do, but what it can do.
  </p>
  <p>
    Minimalist or Flat Design can eliminate distractions to guide a user along a linear path -- this is especially vital in the world of eCommerce. Depending on the product being sold, eliminating flourish can be appealing to your visitor, on the other hand, some products require a rich, enhanced climate. Nordstroms, for example, would not be the experience it is if it had the decor and design sense of Costco.
  </p>
  <p>
    The right design has nothing left to add, but more importantly, nothing left to remove.
  </p>

  <hr>

  <h2>Web Design</h2>

  <div class="row">
    <div class="fourth">
      <div class="portfolio-gallery">
        <div class="cap">
          TWC
        </div>
        <img src="./images/portfolio/twc.jpg" alt="Time Warner Cable">
      </div>
    </div>
    <div class="fourth">
      <div class="portfolio-gallery">
        <div class="cap">
          Terracare
        </div>
        <img src="./images/portfolio/terracare.jpg" alt="Terracare">
      </div>
    </div>
    <div class="fourth">
      <div class="portfolio-gallery">
        <div class="cap">
          Leashables
        </div>
        <img src="./images/portfolio/leashables.jpg" alt="Leashables">
      </div>
    </div>
    <div class="fourth">
      <div class="portfolio-gallery">
        <div class="cap">
          Oralabs
        </div>
        <img src="./images/portfolio/oralabs.jpg" alt="Oralabs">
      </div>
    </div>
  </div>

  <hr>

  <h2>Email Design</h2>

  <div class="row">
    <div class="fourth">
      <div class="portfolio-gallery">
        <div class="cap">
          TWC
        </div>
        <img src="./images/portfolio/twc.jpg" alt="Time Warner Cable">
      </div>
    </div>
    <div class="fourth">
      <div class="portfolio-gallery">
        <div class="cap">
          Terracare
        </div>
        <img src="./images/portfolio/terracare.jpg" alt="Terracare">
      </div>
    </div>
    <div class="fourth">
      <div class="portfolio-gallery">
        <div class="cap">
          Leashables
        </div>
        <img src="./images/portfolio/leashables.jpg" alt="Leashables">
      </div>
    </div>
    <div class="fourth">
      <div class="portfolio-gallery">
        <div class="cap">
          Oralabs
        </div>
        <img src="./images/portfolio/oralabs.jpg" alt="Oralabs">
      </div>
    </div>
  </div>

  <hr>

  <h2>Print Design</h2>

  <div class="row">
    <div class="fourth">
      <div class="portfolio-gallery">
        <div class="cap">
          TWC
        </div>
        <img src="./images/portfolio/twc.jpg" alt="Time Warner Cable">
      </div>
    </div>
    <div class="fourth">
      <div class="portfolio-gallery">
        <div class="cap">
          Terracare
        </div>
        <img src="./images/portfolio/terracare.jpg" alt="Terracare">
      </div>
    </div>
    <div class="fourth">
      <div class="portfolio-gallery">
        <div class="cap">
          Leashables
        </div>
        <img src="./images/portfolio/leashables.jpg" alt="Leashables">
      </div>
    </div>
    <div class="fourth">
      <div class="portfolio-gallery">
        <div class="cap">
          Oralabs
        </div>
        <img src="./images/portfolio/oralabs.jpg" alt="Oralabs">
      </div>
    </div>
  </div>

<hr>

<h2>Product/Packaging Design</h2>

  <div class="row">
    <div class="fourth">
      <div class="portfolio-gallery">
        <div class="cap">
          TWC
        </div>
        <img src="./images/portfolio/twc.jpg" alt="Time Warner Cable">
      </div>
    </div>
    <div class="fourth">
      <div class="portfolio-gallery">
        <div class="cap">
          Terracare
        </div>
        <img src="./images/portfolio/terracare.jpg" alt="Terracare">
      </div>
    </div>
    <div class="fourth">
      <div class="portfolio-gallery">
        <div class="cap">
          Leashables
        </div>
        <img src="./images/portfolio/leashables.jpg" alt="Leashables">
      </div>
    </div>
    <div class="fourth">
      <div class="portfolio-gallery">
        <div class="cap">
          Oralabs
        </div>
        <img src="./images/portfolio/oralabs.jpg" alt="Oralabs">
      </div>
    </div>
  </div>

  {% include end_content.html %}
</section>
<!-- /.portfolio -->
