// Vertical Align
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

// Horizontal Align
@mixin center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%center {
  @include center;
}

// Center an element vertically and horizontally
@mixin centerer($position: absolute) {
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin horizontal-center {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
