@mixin article-header($color: $article-header-color) {
	@include font-size(32);
  @include margin(0 0 $base-spacing);
	padding-bottom: $base-spacing/2;
	border-bottom: 1px solid $article-header-border-color;
  color: $color;
  text-transform: uppercase;
  font-weight: $article-header-font-weight;

	@include media($mobile) {
    @include font-size(16);
    @include margin(0 0 ($base-spacing));
		@include padding($base-spacing/2 $base-spacing);
		width: calc(100% +  #{$base-spacing*2});
		margin-left: -$base-spacing;
    border-bottom: none;
		background-color: $article-header-color;
		color: $color-white;

    &.notice {
      background-color: $alert-color;
    }

    &.stick {
      position: fixed;
      top: 0;
      z-index: 999;
    }
	}
}

.article-header {
  @include article-header;
}
