@mixin heading-box {
  @include margin(0 auto ($base-spacing * 1.5));
  @include font-family($base-font-family-alt);
  @include font-size(12);
  display: table;
  position: relative;
  border: 2px solid currentColor;
  text-align: center;
  line-height: normal;

  @include media($mobile) {
    @include margin($base-spacing 0 ($base-spacing * 2));
    width: 100%;
  }

  h2 {
    @include padding(.5em 1em);
    @include margin;
    font-weight: 700;
    color: currentColor;
  }

  span {
    @include margin(0 ($base-spacing));
    @include padding(0 ($base-spacing / 2));
    position: relative;
    top: -.75em;
    text-transform: uppercase;
  }

  span + h2 {
    padding-top: 0;
  }
}
