// Responsive images mixin
@mixin responsive-image($position: top center, $w: 1800, $h: 100%, $radius: 0) {
  width: $w;
  height: $h;
  border-radius: $radius;
  object-fit: cover;
  object-position: $position;
  overflow: hidden;
}
