/* ==========================================================================
    Banner -- Version: 0.2.1 - Compiled: timestamp()
    ========================================================================== */
.banner {
  position: relative;
  background: url("../images/line-pattern.png"), url("../images/banner.jpg");
  height: 600px;
  background-position: center;
  color: white;
  text-transform: uppercase;
}
@media (max-width: 40em) {
  .banner {
    height: 300px;
  }
}
.banner h1 {
  font-size: 70px;
  font-size: 7rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
@media (max-width: 40em) {
  .banner h1 {
    font-size: 55px;
    font-size: 5.5rem;
  }
}
.banner a:hover {
  text-deocration: none;
}
.banner .content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.banner .resume:hover {
  color: #ff372c;
  text-decoration: none;
}
