/* ==========================================================================
    Colors & Gradients -- Version: 0.4.3 - Compiled: timestamp()
   ========================================================================== */
.color-black,
.bg-black {
  background-color: #000;
}

.text-black {
  color: #000;
}

.color-dark-grey,
.bg-dark-grey {
  background-color: #b3b3b3;
}

.text-dark-grey {
  color: #b3b3b3;
}

.color-grey,
.bg-grey {
  background-color: #ccc;
}

.text-grey {
  color: #ccc;
}

.color-light-grey,
.bg-light-grey {
  background-color: #e6e6e6;
}

.text-light-grey {
  color: #e6e6e6;
}

.color-light-light-grey,
.bg-light-light-grey {
  background-color: white;
}

.text-light-light-grey {
  color: white;
}

.color-white,
.bg-white {
  background-color: #fff;
}

.text-white {
  color: #fff;
}

.color-off-white,
.bg-off-white {
  background-color: #f2f2f2;
}

.text-off-white {
  color: #f2f2f2;
}

.color-text,
.bg-text {
  background-color: #454545;
}

.text-text {
  color: #454545;
}

.color-link,
.bg-link {
  background-color: #2bb3dd;
}

.text-link {
  color: #2bb3dd;
}

.color-info,
.bg-info {
  background-color: #2bb3dd;
}

.text-info {
  color: #2bb3dd;
}

.color-success,
.bg-success {
  background-color: #00bdbd;
}

.text-success {
  color: #00bdbd;
}

.color-error,
.bg-error {
  background-color: #ff372c;
}

.text-error {
  color: #ff372c;
}

.color-is-error,
.bg-is-error {
  background-color: #ff372c;
}

.text-is-error {
  color: #ff372c;
}

.color-warning,
.bg-warning {
  background-color: #ff372c;
}

.text-warning {
  color: #ff372c;
}

.color-muted,
.bg-muted {
  background-color: #e6e6e6;
}

.text-muted {
  color: #e6e6e6;
}

.color-primary-red,
.bg-primary-red {
  background-color: #ff675f;
}

.text-primary-red {
  color: #ff675f;
}

.color-secondary-red,
.bg-secondary-red {
  background-color: #ff372c;
}

.text-secondary-red {
  color: #ff372c;
}

.color-tertiary-red,
.bg-tertiary-red {
  background-color: #fff8f8;
}

.text-tertiary-red {
  color: #fff8f8;
}

.color-primary-green,
.bg-primary-green {
  background-color: #00bdbd;
}

.text-primary-green {
  color: #00bdbd;
}

.color-secondary-green,
.bg-secondary-green {
  background-color: #008a8a;
}

.text-secondary-green {
  color: #008a8a;
}

.color-tertiary-green,
.bg-tertiary-green {
  background-color: #8affff;
}

.text-tertiary-green {
  color: #8affff;
}

.color-primary-blue,
.bg-primary-blue {
  background-color: #2bb3dd;
}

.text-primary-blue {
  color: #2bb3dd;
}

.color-secondary-blue,
.bg-secondary-blue {
  background-color: #1d93b8;
}

.text-secondary-blue {
  color: #1d93b8;
}

.color-tertiary-blue,
.bg-tertiary-blue {
  background-color: #dbf2f9;
}

.text-tertiary-blue {
  color: #dbf2f9;
}

.color-primary-orange,
.bg-primary-orange {
  background-color: #fcb03c;
}

.text-primary-orange {
  color: #fcb03c;
}

.color-secondary-orange,
.bg-secondary-orange {
  background-color: #fb9c0a;
}

.text-secondary-orange {
  color: #fb9c0a;
}

.color-tertiary-orange,
.bg-tertiary-orange {
  background-color: #feedd3;
}

.text-tertiary-orange {
  color: #feedd3;
}

.color-primary-yellow,
.bg-primary-yellow {
  background-color: #ffda21;
}

.text-primary-yellow {
  color: #ffda21;
}

.color-secondary-yellow,
.bg-secondary-yellow {
  background-color: #edc500;
}

.text-secondary-yellow {
  color: #edc500;
}

.color-tertiary-yellow,
.bg-tertiary-yellow {
  background-color: #fffced;
}

.text-tertiary-yellow {
  color: #fffced;
}

.color-primary-indigo,
.bg-primary-indigo {
  background-color: #583c9c;
}

.text-primary-indigo {
  color: #583c9c;
}

.color-secondary-indigo,
.bg-secondary-indigo {
  background-color: #432e77;
}

.text-secondary-indigo {
  color: #432e77;
}

.color-tertiary-indigo,
.bg-tertiary-indigo {
  background-color: #cabee6;
}

.text-tertiary-indigo {
  color: #cabee6;
}

.color-primary-violet,
.bg-primary-violet {
  background-color: #8d25bb;
}

.text-primary-violet {
  color: #8d25bb;
}

.color-secondary-violet,
.bg-secondary-violet {
  background-color: #6d1d90;
}

.text-secondary-violet {
  color: #6d1d90;
}

.color-tertiary-violet,
.bg-tertiary-violet {
  background-color: #e1bbf1;
}

.text-tertiary-violet {
  color: #e1bbf1;
}

.text {
  color: #454545;
}

.ie9 .gradient {
  filter: none;
}

.ie9 [class*="gradient"] {
  filter: none;
}

/*# sourceMappingURL=colors.css.map */
