/* ==========================================================================
    Message Boxes -- Version: 0.2.1 - Compiled: timestamp()
   ========================================================================== */
.message {
  position: relative;
  display: inline-block;
  padding: 1em;
  line-height: 1;
}

.message-loading, .message-valid, .message-warning {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: white;
  font-weight: 700;
}
.message-loading:before, .message-valid:before, .message-warning:before {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 3em;
  font-family: "FontAwesome", Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  padding: .25em 1em;
}

.message-loading {
  color: #cccccc;
}
.message-loading:before {
  background: white;
  content: "\75";
}

.message-valid {
  color: #6fd57f;
}
.message-valid:before {
  background: #beecc5;
  content: "\43";
}

.message-warning {
  color: #ff675f;
}
.message-warning:before {
  background: #ffc8c5;
  content: "\33";
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.info-box {
  border-left: .3em solid currentColor;
  background: #dbf2f9;
  color: #1d93b8;
}

.error-box {
  border-left: .3em solid currentColor;
  background: white;
  color: #ff372c;
}

.valid-box {
  border-left: .3em solid currentColor;
  background: #8affff;
  color: #6fd57f;
}
