/* ==========================================================================
    Portfolio -- Version: 0.2.1 - Compiled: timestamp()
    ========================================================================== */
.portfolio-gallery .cap {
  padding-top: 0.5em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  background: white;
}
.ie .portfolio-gallery .cap {
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF,endColorstr=#FFFFFFFF);
  zoom: 1;
}
