/* ==========================================================================
    Tables -- Version: 0.4.1- Compiled: timestamp()
    ========================================================================== */
.summary {
  background-color: #00bdbd;
  color: white;
}
.summary .heading span {
  background-color: #00bdbd;
}

.skills {
  background-color: #f2f2f2;
  color: #454545;
}
.skills .heading span {
  background-color: #f2f2f2;
}

.experience {
  background-color: #2bb3dd;
  color: white;
}
.experience .heading span {
  background-color: #2bb3dd;
}

.education {
  background: url(../images/education.jpg) top right no-repeat;
  color: #454545;
  text-align: center;
}
.education .overlay {
  background-color: #e6e6e6;
}

.portfolio {
  background-color: #cccccc;
  color: #454545;
}
.portfolio .heading span {
  background-color: #cccccc;
}

.code_samples {
  background-color: #ff675f;
  color: white;
  text-align: center;
}
.code_samples .heading span {
  background-color: #ff675f;
}

.speaking {
  text-align: center;
}

.contact {
  background: url(../images/contact.jpg) top right no-repeat;
  background-size: cover;
  color: white;
  box-shadow: inset 0 8px 8px -8px #696868, inset 0 -8px 8px -8px #696868;
}
.contact .overlay {
  background: rgba(77, 109, 133, 0.65);
}
.ie .contact .overlay {
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A64D6D85, endColorstr=#A64D6D85)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#A64D6D85,endColorstr=#A64D6D85);
  zoom: 1;
}
.contact .heading span {
  background-color: #4d6d85;
}
