@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Code+Pro");
/* ==========================================================================
    Typography -- Version: 1.9.0.1  - Compiled: timestamp()
    ========================================================================== */
@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-webfont.eot");
  src: url("../fonts/BebasNeue-webfont.eot?") format("eot"), url("../fonts/BebasNeue-webfont.woff") format("woff"), url("../fonts/BebasNeue-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: "normal";
}
@font-face {
  font-family: "OswaldLight";
  src: url("../fonts/Oswald-Light-webfont.eot");
  src: url("../fonts/Oswald-Light-webfont.eot?") format("eot"), url("../fonts/Oswald-Light-webfont.woff") format("woff"), url("../fonts/Oswald-Light-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: "normal";
}
@font-face {
  font-family: "fontawesome";
  src: url("../fonts/icons/fontawesome-webfont.eot");
  src: url("../fonts/icons/fontawesome-webfont.eot?") format("eot"), url("../fonts/icons/fontawesome-webfont.woff") format("woff"), url("../fonts/icons/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: "normal";
}
.base-font {
  font-family: "OswaldLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.base-font-alt {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.arial {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.arialBold {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

/* ==========================
	  Body Text
   ========================== */
.lede {
  font-size: 24.75px;
  font-size: 2.475rem;
}

.body-text {
  font-size: 18px;
  font-size: 1.8rem;
}

.small-body-text {
  font-size: 13.5px;
  font-size: 1.35rem;
}

.disclaimer-text {
  font-size: 13.5px;
  font-size: 1.35rem;
}

/* ==========================
	  Links
   ========================== */
a {
  margin: 0;
  padding: 0;
  background: transparent;
  vertical-align: baseline;
  font-family: inherit;
  color: #2bb3dd;
  text-decoration: none;
  cursor: pointer;
  will-change: transition;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: #1d93b8;
  text-decoration: underline;
}
a img {
  border: 0 none;
  text-decoration: none;
}
a.muted, .muted a {
  color: #e6e6e6;
}
a[href$='.pdf']:after {
  font-family: "FontAwesome", Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  content: "";
  margin-left: .5em;
}

/* ==========================
	  Headings
   ========================== */
header {
  text-align: center;
}

.heading {
  position: relative;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  *vertical-align: auto;
  margin: 0 0 3em;
  border: 2px solid currentColor;
  font-size: 12px;
  font-size: 1.2rem;
  color: currentColor;
  text-align: center;
  text-transform: uppercase;
  line-height: normal;
}
@media (max-width: 40em) {
  .heading {
    width: 100%;
    margin: 0.5em 0 1em;
  }
}
.heading h2 {
  padding: 0.25em 1em;
  margin: 0;
}
.heading p {
  position: absolute;
  top: -.5em;
  right: 0;
  left: 0;
  letter-spacing: 1px;
}
.heading span {
  padding: 0 1em;
  background: white;
}
.ie .heading span {
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF,endColorstr=#FFFFFFFF);
  zoom: 1;
}

h1,
.h1, h2,
.h2, h3,
.h3, h4,
.h4, h5,
.h5, h6,
.h6 {
  clear: inherit;
  vertical-align: middle;
  line-height: normal;
}
h1 + p,
.h1 + p, h2 + p,
.h2 + p, h3 + p,
.h3 + p, h4 + p,
.h4 + p, h5 + p,
.h5 + p, h6 + p,
.h6 + p, h1 + ul,
.h1 + ul, h2 + ul,
.h2 + ul, h3 + ul,
.h3 + ul, h4 + ul,
.h4 + ul, h5 + ul,
.h5 + ul, h6 + ul,
.h6 + ul {
  margin-top: 1em;
}

h1,
.h1 {
  font-family: "BebasNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-size: 4.2rem;
  font-weight: 200;
}
@media (max-width: 62em) {
  h1,
  .h1 {
    font-size: 36.75px;
    font-size: 3.675rem;
  }
}
@media (max-width: 40em) {
  h1,
  .h1 {
    font-size: 31.5px;
    font-size: 3.15rem;
  }
}

h2,
.h2 {
  font-family: "BebasNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-size: 3.6rem;
  font-weight: 200;
}
@media (max-width: 62em) {
  h2,
  .h2 {
    font-size: 31.5px;
    font-size: 3.15rem;
  }
}
@media (max-width: 40em) {
  h2,
  .h2 {
    font-size: 27px;
    font-size: 2.7rem;
  }
}

h3,
.h3 {
  font-family: "BebasNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-size: 3rem;
  font-weight: 700;
}
@media (max-width: 62em) {
  h3,
  .h3 {
    font-size: 26.25px;
    font-size: 2.625rem;
  }
}
@media (max-width: 40em) {
  h3,
  .h3 {
    font-size: 22.5px;
    font-size: 2.25rem;
  }
}

h4,
.h4 {
  font-family: "BebasNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 200;
}

h5,
.h5 {
  font-family: "BebasNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 700;
}

h6,
.h6 {
  font-family: "BebasNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 100;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  *vertical-align: auto;
}

small {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  *vertical-align: auto;
}

p,
ul,
ol,
dl,
blockquote {
  margin-bottom: 0.5em;
  clear: inherit;
  vertical-align: middle;
}

p,
.p {
  font-family: "OswaldLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  word-wrap: break-word;
}
p:only-child,
.p:only-child {
  margin: 0;
}

.b {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

.uppercase {
  text-transform: capitalize;
}

blockquote {
  width: 75%;
  margin: 0 auto;
  border-left: 3px solid currentColor;
  color: #b3b3b3;
  font-style: italic;
  padding-left: 1em;
}
blockquote footer {
  background: none;
  color: currentColor;
}

q {
  quotes: '\201C' '\201D' '\2018' '\2019';
}

abbr {
  border-bottom: 1px dotted currentColor;
  cursor: help;
}

address {
  font-style: normal;
}

sub, sup {
  font-size: smaller;
  line-height: 0;
  position: relative;
}

mark {
  padding: 0.25em;
  background: #ffda21;
}

time {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  *vertical-align: auto;
}

/* ==========================
	  Pre
   ========================== */
pre {
  margin: 1em 0 0;
  padding: 1em;
  border-radius: 0;
  background-clip: padding-box;
  overflow: auto;
  word-wrap: break-word;
}

kbd,
samp {
  font-family: Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  color: #00bdbd;
}

.valid,
.is-valid {
  color: #00bdbd;
}

.code-comment {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.fa {
  font-family: "FontAwesome", Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
}

/*# sourceMappingURL=typography.css.map */
