    {% include contact/index.html %}

    <!-- Footer Component -->
    <footer role="contentinfo">
      <div class="content">
        <div class="container">

          <span>Copyright Me. Everything. Every year, forever.</span>
          <span><a href="/sitemap.xml">Sitemap</a></span>

          <div class="social right">
            <ul class="horizontal">
              <li>
                <a href="https://twitter.com/maxquattromani" title="{{ site.title }} Twitter - opens in new tab"><span class="fa fa-twitter-square fa-2x"></span></a>
              </li>
              <li>
                <a href="https://github.com/quattromani" title="{{ site.title }} Github - opens in new tab"><span class="fa fa-github-square fa-2x"></span></a>
              </li>
              <li>
                <a href="www.linkedin.com/in/maxquattromani/" title="{{ site.title }} Linkedin - opens in new tab"><span class="fa fa-linkedin-square fa-2x"></span></a>
              </li>
              <li>
                <a href="https://dribbble.com/maxquattromani" title="{{ site.title }} Dribbble - opens in new tab"><span class="fa fa-dribbble fa-2x"></span></a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </footer>
    <!-- ./Footer Component -->
