  </main>
  <!-- ./End Content Wrapper -->

  <!-- Footer Component -->
  <footer role="contentinfo">

    <span>Copyright Me. Everything. Every year, forever.</span>
    <span><a href="/sitemap">Sitemap <i class="sitemap"></i></a></span>

    <div class="social">
      <ul>
        <li>
          <a href="https://twitter.com/maxquattromani" title="{{ site.title }} Twitter - opens in new tab" target="_blank"><i class="twitter"></i></a>
        </li>
        <li>
          <a href="https://github.com/quattromani" title="{{ site.title }} Github - opens in new tab" target="_blank"><i class="github"></i></a>
        </li>
        <li>
          <a href="http://codepen.io/quattromani/" title="{{ site.title }} Codepen - opens in new tab" target="_blank"><i class="codepen"></i></a>
        </li>
        <li>
          <a href="https://dribbble.com/maxquattromani" title="{{ site.title }} Dribbble - opens in new tab" target="_blank"><i class="dribbble"></i></a>
        </li>
        <li>
          <a href="https://linkedin.com/in/maxquattromani/" title="{{ site.title }} Linkedin - opens in new tab" target="_blank"><i class="linkedin"></i></a>
        </li>
      </ul>
    </div>

  </footer>
  <!-- ./Footer Component -->


