<!doctype html>
<html ⚡ lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }} | {% endif %} {{ site.title }}</title>

  <link rel="canonical" href="http://maxquattromani.com">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//themes.googleusercontent.com">
  <link href='https://fonts.googleapis.com/css?family=Lato|Merriweather' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/main.css">

  <!-- Prerender Resume page -->
  <link rel="prerender" href="{{ site.url }}/resume">

  <meta name="apple-mobile-web-app-title" content="Quattromani">
  {% if page.description %}
  <meta name="description" content="{{ page.description }}" />
  {% else %}
  <meta name="description" content="{{ site.description }}" />
  {% endif %}
  <meta name="author" content="{{ site.author }}">
  <meta name="rating" content="general">

  <link rel="canonical" href="http://maxquattromani.com/">

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {% include twitter_card.html %}

  {% include og_tags.html %}

  {% include schema_org.html %}

  <style>
    body {opacity: 0}
  </style>
  <noscript>
    <style>
      body {opacity: 1}
    </style>
  </noscript>
  <script async src="https://cdn.ampproject.org/v0.js"></script>

</head>

<body class="{{ page.class }}">
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<div class="outer-wrapper">
  <div class="inner-wrapper">

  {% include header.html %}
  {% include nav.html %}

  <!-- Begin Content Wrapper -->
  <main role="main">
