<!doctype html>
<html ⚡ lang="en">

<head>
  <meta charset="utf-8">
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <title>{% if page.title %}{{ page.title }} | {% endif %} {{ site.title }}</title>
  <link rel="canonical" href="{{ site.url }}/{{ page.class }}">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Merriweather|Raleway" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
  {% if page.description %}
  <meta name="description" content="{{ page.description }}" />
  {% else %}
  <meta name="description" content="{{ site.description }}" />
  {% endif %}

  {% include twitter_card.html %}

  {% include og_tags.html %}

  {% include schema_org.html %}

  {% if page.path contains '_posts' %}
    {% include schema_article.html %}
  {% endif %}

  <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>

  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>


<style amp-custom>
{% include main.css %}
</style>

</head>

<body class="{{ page.class }}">
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<amp-analytics type="googleanalytics" id="analytics1">
<script type="application/json">
{
  "vars": {
    "account": "{{ site.google_analytics_id }}"
  },
  "triggers": {
    "trackPageview": {
      "on": "visible",
      "request": "pageview"
    }
  }
}
</script>
</amp-analytics>

<a href="/">
  <amp-img src="/images/Q.png" class="logo" width="50" height="50" alt="Q logo"></amp-img>
</a>

<input type="checkbox" id="offcanvas-menu" class="toggle">

<div class="outer-wrapper">

  <label for="offcanvas-menu" class="full-screen-close"></label>

  {% include nav.html %}

  {% include header.html %}

  <!-- Begin Content Wrapper -->
  <main role="main">
