{% assign current = page.url | split: '/' %}
<a href="#" class="open-panel" aria-label="navigation menu"><span></span></a>

<nav role="navigation">

    <div class="menu" role="menubar">
      <ul role="menu">
        {% for nav in site.data.nav %}
        {% if nav.name == page.parent %}
        <li class="active" role="menuitem">
          {% else %}
          <li role="menuitem">
            {% endif %}
            <a href="{{ nav.url }}">{{ nav.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>

  </nav>
