{% assign current = page.url | split: '/' %}

<div class="menu-container">
  <header>
    <div class="menu-heading">
      <label for="offcanvas-menu" class="close-btn">
        <i class="fa fa-times fa-2x"></i>
      </label>
    </div>

    <amp-img src="/images/headshot-circular.png" class="headshot" width="60" height="60" layout="responsive" alt="Picture of Max"></amp-img>
    <p>Max Quattromani</p>
    <a href="mailto:max@quattromani.com">max@maxquattromani.com</a>
  </header>

  <nav role="navigation" class="slide-menu">
    <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement">
      {% for nav in site.data.nav %}
      {% if nav.name == page.parent %}
      <li class="active" role="menuitem" itemprop="name">
      {% else %}
      <li role="menuitem" itemprop="name">
        {% endif %}
        <a href="{{ nav.url }}" itemprop="url"><i class="fa fa-{{ nav.icon }} fa-lg"></i> {{ nav.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</div>
