  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "Max Quattromani",
      "jobTitle": "FRONT-END DEVELOPER/DESIGNER",
      "url": "http://maxquattromani.com",
      "image": "http://maxquattromani.com/images/headshot_BW.png",
      "spouse": "Patricia Quattromani",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "7637 Nuthatch Circle",
        "addressLocality": "Parker",
        "addressRegion": "Colorado",
        "postalCode": "80134"
      },
      "sameAs": [
      "https://github.com/quattromani",
      "https://linkedin.com/in/maxquattromani/",
      "https://twitter.com/maxquattromani",
      "https://plus.google.com/116744747067970112925/posts",
      "https://dribbble.com/maxquattromani",
      "http://codepen.io/quattromani/"
      ]
    }
  </script>
  <script type='application/ld+json'>
    {
      "@context": "http://www.schema.org",
      "@type": "WebSite",
      "mainEntityOfPage": { "@id": "" },
      "name": "Max Quattromani",
      "alternateName": "Max Quattromani Web Developer",
      "url": "http://maxquattromani.com/"
    }
  </script>
