<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "headline": "{{ page.title }}",
    "image": {
      "@type": "ImageObject",
      "url": "{{ site.url }}/images/{{ page.img }}",
      "height": "{{ page.img-height }}",
      "width": "{{ page.img-width }}"
    },
    "alternativeHeadline": "{{ page.sub-title }}",
    "author": "{{ site.title }}",
    "publisher": "{{ site.title }}",
    "datePublished": "{{ page.date }}",
    "dateModified": "{{ page.date }}",
    "description": "{{ page.description }}",
    "mainEntityOfPage": "True"
  }
</script>
