<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage":{
      "@type": "WebPage",
      "@id": "https://example.com/article"
    },
    "headline": "{{ page.title }}",
    "image": {
      "@type": "ImageObject",
      "url": "{{ site.url }}/images/{{ page.img }}",
      "height": "{{ page.img-height }}",
      "width": "{{ page.img-width }}"
    },
    "alternativeHeadline": "{{ page.sub-title }}",
    "author": {
      "@type": "Person",
      "name": "{{ site.title }}"
    },
    "publisher": {
      "@type": "Person",
      "name": "{{ site.title }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ site.url }}/images/Q.png",
        "width": 50,
        "height": 50
      }
    },
    "datePublished": "{{ page.date }}",
    "dateModified": "{{ page.date }}",
    "description": "{{ page.description }}"
  }
</script>
