<section class="skills" id="skills">
  {% include content.html %}

  <header role="banner">
    <div class="heading">
      <p>
        <span>What I'm Good at</span>
      </p>
      <h2>Skills</h2>
    </div>
  </header>

  <ul class="bulleted">
    <li>HTML5</li>
    <li>CSS3</li>
    <li>Javascript/jQuery</li>
    <li>Sass/less</li>
    <li>Front-End Development</li>
    <li>Front-End Design</li>
    <li>Interaction Design</li>
    <li>PHP</li>
    <li>HAML</li>
    <li>WordPress</li>
    <li>Responsive Design</li>
  </ul>

  <header role="banner">
    <div class="heading">
      <h2>Soft Skills</h2>
    </div>
  </header>

  <ul class="bulleted">
    <li>Git/Github</li>
    <li>AngularJS</li>
    <li>Polymer</li>
    <li>GruntJS</li>
    <li>Node.js</li>
    <li>AJAX/JSON</li>
    <li>Video Production</li>
    <li>MySQL</li>
  </ul>

  <header role="banner">
    <div class="heading">
      <h2>Design</h2>
    </div>
  </header>

  <ul class="bulleted">
    <li>User Experience (UX)</li>
    <li>User Interface (UI)</li>
    <li>Product Design</li>
    <li>Packaging Design</li>
    <li>Graphic Design</li>
    <li>Accessibility</li>
    <li>Mobile First</li>
  </ul>

  {% include end_content.html %}
</section>
<!-- /.skills -->
