

footer[role=contentinfo] {
  @include container;
  padding-top: $base-spacing / 2;
  padding-bottom: $base-spacing / 2;
  background-color: $color-brand-primary-complimentary;
  color: $color-white;
  text-align: center;

  .social {
    display: block;

    ul {
      @include horizontal-list(spaced);
      margin-bottom: 0;
    }
  }

  .twitter {
    @include icon-before($icon-twitter, 0, 24px, $color: $twitter);
  }

  .github {
    @include icon-before($icon-github, 0, 24px, $color: $github);
  }

  .codepen {
    @include icon-before($icon-codepen, 0, 24px, $color: $codepen);
  }

  .dribbble {
    @include icon-before($icon-dribbble, 0, 24px, $color: $dribbble);
  }

  .linkedin {
    @include icon-before($icon-linkedin, 0, 24px, $color: $linkedin);
  }

  .sitemap {
    @include icon-before($icon-sitemap, 0, 24px, $color: $base-link-color);
  }
}
