@charset "UTF-8";

header[role=banner] {
  @include container;
  @include padding(($base-spacing * 2) 0);
  position: relative;
  color: $color-white;
  text-transform: uppercase;

  h2 {
    @include font-size(50);
    margin: 0;
    line-height: 1;
  }

  h3 {
    margin: 0;
    font-weight: 100;
  }
}
