@charset "UTF-8";

main {
  @include container;
  position: relative;
  min-height: 50vh;
  padding-top: $base-spacing;
  background-color: $color-white;

  @include media($tablet) {
    @include padding(0 $base-spacing);
  }
}

article {
  @include outer-container;
  padding-bottom: $base-spacing *2;
}

aside {
  @include full-width;
  background-color: $color-off-white;

  div {
    @include full-width;
  }

  section {
    @include outer-container;
  }
}
