.toggle,
.full-screen-close {
  display: none;
}

.full-screen-close {
  @include size(100%);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 2;
}

.toggle:checked + .outer-wrapper > .menu-container {
  margin-left: 0;
}

.toggle:checked + .outer-wrapper .full-screen-close {
  display: block;
  background: rgba($color-black,.5);
}

.menu {
  position: absolute;
  top: $base-spacing;
  left: $base-spacing;
}

.toggle-btn,
.close-btn {
  cursor: pointer;
}

.close-btn {
  float: right;
  padding: ($base-spacing * .75);
  color: $color-white;
}

.menu-container,
main {
  @include transition;
}

.menu-container {
  position: absolute;
  float: left;
  background: #2c3e50;
  width: 40%;
  height: 100%;
  margin-left: -40%;
  z-index:99;

  @include media($mobile) {
    width: 70%;
    margin-left: -70%;
  }
}

.slide-menu {
  li {
    @include font-size($nav-font-size);

    a {
      @include font-family($base-font-family-alt);
      @include transition;
      display: block;
      padding: $base-spacing;
      color: $color-white;
      font-weight: 600;
      text-transform: uppercase;

      &:hover {
        background-color: #34495e;
      }
    }
  }
}
