// For Styleguide Demo ONLY!! Don't ever ingest this file...EVER!

.styleguide,
.patterns {
  main {
    header {
      @include heading-box;

    }
  }

  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    @include media($mobile) {
      position: initial;
      top: initial;
    }

    &:before,
    &:after {
      content: '';
      display: table;
    }
  }

  a.logo {
    color: inherit;

    &:hover {
      border-bottom: none;
    }
  }

  .colors {
    @include padding($base-spacing);
    @include border-radius;

    &.color-white {
      outline: 1px solid lighten($color-light-grey, 30%);
    }

    @include media($tablet) {
      margin-bottom: $base-spacing / 2;
    }
  }

  .swatch {
    @include margin(0 0 $base-spacing);
    @include border-radius;
    overflow: auto;
  }

  .swatch-color {
    @include padding(3.5em $base-spacing);
    position: relative;

    &.color-white {
      border: 1px solid $color-light-grey;
      border-bottom: none;
    }

    &:before,
    &:after  {
      position: absolute;
      content: '';
      top: 0;
      right: 2em;
      height: 100%;
      padding: 1em;
      background-color: hsla(100, 100, 100, .1);
    }

    &:after {
      right: 0;
      background-color: hsla(0, 0, 0, .1);
    }

    @include media($mobile) {
      @include padding(1em, $base-spacing);
    }
  }

  .swatch-info {
    @include padding($base-spacing / 2);
    border: 1px solid $color-light-grey;
    border-top: none;
    background: $color-white;
    color: $color-brand-secondary;
    text-align: center;

    p:first-of-type {
      font-weight: bold;
    }
  }

  .grid {
    @extend .colors;
    @include border-radius;
    background: $color-brand-quaternary;

    &:nth-of-type(even) {
      background: lighten($color-brand-quaternary, 20%);
    }
  }

  .prettyprint {
    display: none;
  }
}
