

  //colors
  $color_daintree_approx: #002b36;
  $color_pewter_approx: #93a1a1;
  $color_shuttle_gray_approx: #586e75;
  $color_limeade_approx: #859900;
  $color_orange_roughy_approx: #cb4b16;
  $color_jungle_green_approx: #2aa198;
  $color_alizarin_crimson_approx: #dc322f;
  $color_curious_blue_approx: #268bd2;
  $color_hot_toddy_approx: #b58900;

  .highlight {
    @include full-width;
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
    background-color: $color_daintree_approx;
    color: $color_pewter_approx;

    .c {
      color: $color_shuttle_gray_approx;
    }

    .err,
    .g,
    .l,
    .n,
    .p,
    .go,
    .gp,
    .gs,
    .gt,
    .ld,
    .na,
    .w,
    .sd,
    .sh,
    .nl,
    .nn,
    .nx,
    .py {
      color: $color_pewter_approx;
    }

    .gs {
      color: $color_pewter_approx;
      font-weight: bold;
    }

    .ge {
      color: $color_pewter_approx;
      font-style: italic;
    }

    .k,
    .o,
    .cp,
    .cs,
    .gi,
    .kb,
    .kp,
    .ow {
      color: $color_limeade_approx;
    }

    .cm,
    .c1,
    .sb {
      color: $color_shuttle_gray_approx;
    }

    .x,
    .gh,
    .gu,
    .kc,
    .no,
    .ni,
    .ne,
    .se {
      color: $color_orange_roughy_approx;
    }

    .gr,
    .kt,
    .sr {
      color: $color_alizarin_crimson_approx;
    }

    .nb {
      color: $color_hot_toddy_approx;
    }

    .kd,
    .kr,
    .nc,
    .nd,
    .nf,
    .nt,
    .nv,
    .bp,
    .vc,
    .vg,
    .vi {
      color: $color_curious_blue_approx;
    }

    .mf,
    .mh,
    .mi,
    .mo,
    .sc,
    .s2,
    .si,
    .sx,
    .s1,
    .ss,
    .il,
    .gd,
    .m,
    .s {
      color: $color_jungle_green_approx;
    }
  }
