---
layout: default
title: Pattern Library
class: patterns
parent: Patterns
---

{% include content.html %}

<header role="banner">
  <div class="heading">
    <h2>{{ page.title }}</h2>
  </div>
</header>

<p>Version: 0.2.1 -- Updated: {{ site.time }}</p>
<hr>

<!-- Loop through and include all patterns sections -->
{% include patterns/box/index.html %}
{% include patterns/breadcrumbs/index.html %}
{% include patterns/forms/index.html %}
{% include patterns/lists/index.html %}
{% include patterns/summary/index.html %}
{% include patterns/modals/index.html %}
{% include patterns/pagination/index.html %}
{% include patterns/pills/index.html %}
{% include patterns/message-box/index.html %}
{% include patterns/info-box/index.html %}
{% include patterns/tables/index.html %}

<h2>FIN.</h2>

{% include end_content.html %}
