---
layout: default
title: Blog
description: ""
parent: Blog
class: blog
---

<div class="row">
  <div class="full">

    {% for post in paginator.posts %}
    <h4>
      <a href="{{ site.prefix }}{{ post.url }}">{{ post.title }}<br>{{ post.sub-title }}</a>
    </h4>
    {% assign author = site.data.authors[post.author] %}
    {% if author %}
    <span>
      Written by <a href="mailto:{{ author.email }}">{{ author.name }}{% if author.title %} - {{ author.title }}{% endif %}</a>
    </span>
    {% endif %}
    <br>

    <strong>
      {{ post.date | date_to_string }}
    </strong>
  </div>

  <div class="blog-content">
    {{ post.content | truncatewords: 50 }}
  </div>
</div>
{% endfor %}

</div>
</div>
