<article class="featured" id="featured" role="article">
  <section>

    <header>
      <span>People are Talking</span>
      <h2>Featured</h2>
    </header>

    <ul>
      <li>
        <a href="http://mediatemple.net/blog/tips/six-stunning-style-guides/">Media Temple - Six Stunning Style Guides</a>
      </li>
      <li>
      <a href="http://webdesignledger.com/29-online-style-guides"> Wed Design Ledger - 29 Online Style Guides</a>
      </li>
      <li>
        <a href="http://una.im/pattern-libraries/#💁">Una Kravets - A Pretty Long List of Style Guides and Pattern Libraries</a>
      </li>
      <li>
        <a href="http://styleguides.io/examples.html">Styleguides.io</a>
      </li>
      <li>
        <a href="http://saijogeorge.com/brand-style-guide-examples/">Brand Style Guide Examples</a>
      </li>
      <li>
        <a href="http://klariti.com/business-writing/style-guides-tutorials-examples-guidelines/">klariti.com</a>
      </li>
    </ul>

  </section>
</article>
<!-- /.education -->
