<section class="speaking" id="speaking">
  {% include content.html %}

  <header role="banner">
    <div class="heading">
      <h2>Speaking</h2>
    </div>
  </header>

  <h3>Past Speaking Engagements</h3>
  <ul>
    <li>CTG Conference - Denver, CO - September 13/14, 2013</li>
    <li>mCommerce Exchange - Las Vegas, NV - April 1/2, 2014</li>
  </ul>

  <hr class="divider">

  <h3>Future Speaking Engagements</h3>
  <p>Nothing currently scheduled</p>

  {% include end_content.html %}
</section>
<!-- /.code_samples -->
