<h2 id="about-anchor" class="jumpTo-anchor">About the Pattern Library</h2>

<div class="box-column">
  <p class="lede">A byproduct of the Style Guide; a Pattern Library is a collection of the combined atomic elements that make up a site and become modules and components. Ensuring consistency across a website can be extremely difficult. Pattern Libraries aim to quell that arduous effort. By providing pre-compiled elements, components, and modules - displaying how they are formed and used provides a benefit to developers who are coming into the project after it has started, or possibly taking over a project as a whole.</p>
</div>
