<section class="code_samples" id="code_samples">
  {% include content.html %}

    <header role="banner">
    <div class="heading">
      <p>
        <span>Snoop My Code</span>
      </p>
      <h2>Code Samples</h2>
    </div>
  </header>

    <p><a href="https://github.com/quattromani/scaffold">https://github.com/quattromani/scaffold</a></p>
    <p><a href="http://maxquattromani.com/styleguide/">http://maxquattromani.com/styleguide/</a></p>

  {% include end_content.html %}
</section>
<!-- /.code_samples -->
