---
layout: default
title: "Sites I've Built (or helped build)"
description: "How many sites have I built? Good Question; let's see"
class: sites
parent: sites
---

<h1 id="{{ page.class }}">{{ page.title }}</h1>

<article role="article">
  <p class="lede">I thought a fun excercise would be making a list of all the sites I've built or worked on with other fine developers. They're not in any particular order, other than the order in which I thought of them.</p>

  {% for site in site.data.sites %}
  <h2 class="article-header">{{ site.section }} ({{ site.examples | size }})</h2>
  <ul class="vertical">
    {% for titles in site.examples %}
    <li><a href="{{ titles.url }}" target="_blank">{{ titles.title }}</a>

      <sup class="reference">
      {% if titles.status == false %}
        <a href="#cite-1">
          <span>[</span>INDEV<span>]</span>
        </a>
      {% endif %}
      {% if titles.type == 'RR' %}
        <a href="#cite-2">
          <span>[</span>{{ titles.type }}<span>]</span>
        </a>
      </sup>
      {% endif %}
      {% if titles.type == 'NB' %}
        <a href="#cite-3">
          <span>[</span>{{ titles.type }}<span>]</span>
        </a>
      </sup>
      {% endif %}
      {% if titles.type == 'NB/NR' %}
        <a href="#cite-4">
          <span>[</span>{{ titles.type }}<span>]</span>
        </a>
      </sup>
      {% endif %}

    </li>
    {% endfor %}
  </ul>
  {% endfor %}

</article>

<aside>
  <div>

    <h5>Notes:</h5>
    <ul>
      <li id="cite-1">
        [INDEV] - These sites are in various states of Development. Some are ready to launch; others are waiting for creative assets or client approval.
     </li>
     <li id="cite-2">
        [RR] - This site was a responsive rebuild of an existing template/site
     </li>
     <li id="cite-3">
        [NB] - This site was a new responsive build.
     </li>
     <li id="cite-4">
        [NB/NR] - This site was a new build, however it is not responsive.
     </li>
   </ul>

  </div>
</aside>
