---
layout: default
title: Sandbox
description: ""
class: sandbox
parent: sandbox
---

<style>
	.tabular-data {
		background-color: transparent;
	}
	
	.tabular-data header {
		border: 0;
	}
	
	.tabular-data footer {
		padding: 1em;
		background-color: #e1e1e1;
		color: #454545;
	}
</style>

<section class="reading">
  {% include content.html %}

<div class="tabular-data">
	<header>
		<h1>A Basic Table</h1>
	</header>
			
  <table>
    <tr>
      <th>Hero</th>
      <th>Power</th>
      <th>Nemesis</th>
    </tr>
  
    <tr>
      <td>The XMLator</td>
      <td>Standards compliance</td>
      <td>Sloppy Code Boy</td>
    </tr>
  
    <tr>
      <td>Captain CSS</td>
      <td>Superlayout</td>
      <td>Lord Deprecated</td>
    </tr>
  
    <tr>
      <td>Browser Woman</td>
      <td>Megacompatibility</td>
      <td>Ugly Code Monster</td>
    </tr>
  
  </table>
  
  <footer>
	  <span>This is my footer</span>
  </footer>
</div>

{% highlight html %}
<style>
	.tabular-data {
		background-color: transparent;
	}
	
	.tabular-data header {
		border: 0;
	}
	
	.tabular-data footer {
		padding: 1em;
		background-color: #e1e1e1;
		color: #454545;
	}
</style>

<div class="tabular-data">
	<header>
		<h1>A Basic Table</h1>
	</header>

	<table>
		<tr>
			<th>Hero</th>
			<th>Power</th>
			<th>Nemesis</th>
		</tr>

		<tr>
			<td>The XMLator</td>
			<td>Standards compliance</td>
			<td>Sloppy Code Boy</td>
		</tr>

		<tr>
			<td>Captain CSS</td>
			<td>Superlayout</td>
			<td>Lord Deprecated</td>
		</tr>

		<tr>
			<td>Browser Woman</td>
			<td>Megacompatibility</td>
			<td>Ugly Code Monster</td>
		</tr>
	</table>

	<footer>
		<span>This is my footer</span>
	</footer>
</div>
{% endhighlight %}

  {% include end_content.html %}
</section>