---
layout: compress
---

{% include head.html %}

 <div class="desktop-hidden">
      <h2 class="article-header notice">NOTICE:</h2>
      <p>I'm in the process of rebuilding this site as an <a href="https://www.ampproject.org/">Accelerated Mobile Pages (AMP) Project</a>, and I decided to do it live because I wanted to see the impact of my changes on SERP's as I go - sort of like A/B testing but live, at the same-time. As AMP does not allow author-written JavaScript - lot's of previously taken-for-granted goodies don't work - like the mobile nav, which sucks! So in the meantime - here's a temporary nav for mobile visitors.</p>

      <ul class="vertical lined" role="menu">
        <li role="menuitem">
          <a href="/">Home</a>
        </li>
        <li role="menuitem">
          <a href="/styleguide/#styleguide">Style Guide</a>
        </li>
        <li role="menuitem">
          <a href="/email/#email">Email</a>
        </li>
        <li role="menuitem">
          <a href="/SDLC/#sdlc">SDLC</a>
        </li>
        <li role="menuitem">
          <a href="/writing/#writing">Writing</a>
        </li>
        <li role="menuitem">
          <a href="/contact/#contact">Contact</a>
        </li>
        <li role="menuitem">
          <a href="/resume/#summary">Resume</a>
        </li>
      </ul>
    </div>

  {{ content }}

{% include footer.html %}
{% include foot.html %}
