

// Base
@import "reset";

/* ==========================
    Base
   ========================== */

:root {
  background-color: if(variable-exists(root-background-color), $root-background-color, #ffffff);
  box-sizing: if(variable-exists(root-box-sizing), $root-box-sizing, border-box);
  color: if(variable-exists(root-color), $root-color, #000000);
  cursor: if(variable-exists(root-cursor), $root-cursor, default);
  font: if(variable-exists(root-font-size), $root-font-size, 100%)/#{if(variable-exists(root-line-height), $root-line-height, 1.5)} if(variable-exists(root-font-family), $root-font-family, sans-serif);
}

html {
  overflow: auto;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: url('/images/banner.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;

  @include media($mobile) {
    background-size: initial;
  }
}

body,
button,
input,
select,
textarea {
  @include font-size($base-font-size);
  line-height: $base-line-height;
}

[hidden], template {
  display: none;
}

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  vertical-align: if(variable-exists(media-element-vertical-align), $media-element-vertical-align, middle);
  max-width: 100%;
}

// Base
@import "headings",

        "links",

        "lists",

        "typography",

        "print";
